 /*Faq page*/
 .faq {
  padding: 90px 0 115px;
}
.faq .accordion-button.collapsed::after {
    position: absolute !important;
    left: 20px !important;
    background-image: url(../images/plus.webp);background-repeat: no-repeat;
    z-index: 2;
  }
.faq .accordion-button:not(.collapsed)::after {
    position: absolute !important;
    left: 20px !important;
    background-image: url(../images/plus.webp);background-repeat: no-repeat;
    z-index: 2;
}
.faq .accordion-button::before {
    position: absolute;
    content: '';
    background-color: var(--c-secondary);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    z-index: 0;
    left: 12px;
}
.faq .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border: 1px solid rgba(0,0,0,.125);
}
.faq .accordion-button.collapsed {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px !important;
  }
.faq .accordion-item {
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.faq .accordion-button {
    padding: 30px 0px 30px 70px;
    font-family: var(--ff-primary);
    font-size: 22px;
    font-weight: 700;
    color: var(--c-text-primary) !important;
}
.faq .accordion-body {
    padding: 20px 40px 20px 70px;
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 14px;
    color: var(--c-text-secondary);
    line-height: 28px;
    border: 1px solid rgba(0,0,0,.125);
}
.faq .custom-heading {
    text-align: left;
    padding-left: 12px;
}
.faq .custom-para {
  font-size: 16px;
  color: var(--c-text-secondary);
  padding-right: 750px;
  margin-top: 26px;
  padding-left: 12px;
}
.faq .accordion-wrap {
  margin-top: 55px;
}

/****Responsive****/

  @media (min-width: 1700px) and (max-width: 1800px){

  
  }
  
  @media (min-width: 1600px) and (max-width: 1700px){

  }
  
  @media (min-width: 1500px) and (max-width: 1600px){

  }
  
  @media (min-width: 1400px) and (max-width: 1500px){
    .faq .custom-para {padding-right: 470px;}
    .faq {padding: 90px 0 105px;}
  }
  
  @media (min-width: 1300px) and (max-width: 1400px){
    .faq .custom-para {padding-right: 470px;}
    .faq {padding: 90px 0 105px;}
    .faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
    .faq .accordion-body {font-size: 13px;}

  }
  @media (min-width: 1200px) and (max-width: 1300px){
    .faq .custom-para {padding-right: 470px;font-size: 15px;margin-top: 16px;}
    .faq {padding: 80px 0 95px;}
    .faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
    .faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
    .faq .accordion-wrap {margin-top: 35px;}
  }
  
  @media (min-width: 1024px) and (max-width: 1200px){
    .faq .custom-para {padding-right: 360px;font-size: 15px;margin-top: 16px;}
    .faq {padding: 80px 0 80px;}
    .faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
    .faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
    .faq .accordion-wrap {margin-top: 35px;}
  }
  
  @media (min-width: 992px) and (max-width: 1024px) {
    .faq .custom-para {padding-right: 340px;font-size: 14px;margin-top: 16px;}
    .faq {padding: 80px 0 80px;}
    .faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 18px;}
    .faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
    .faq .accordion-wrap {margin-top: 30px;}
  }
  
  @media only screen and (max-width: 991.98px) {    
    .faq .custom-para {padding-right: 150px;font-size: 12px;margin-top: 16px;}
    .faq {padding: 60px 0px;}
    .faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 18px;}
    .faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
    .faq .accordion-wrap {margin-top: 40px;}
  }
  
  @media (max-width: 767.98px){
    .faq .custom-para {padding-right: 40px;}
    .faq .accordion-button {padding: 20px 0px 20px 70px;font-size: 15px;}
    .faq .accordion-body {font-size: 12px;line-height: 25px;}
    .faq .accordion-button::before {width: 30px;height: 30px;left: 15px;}
  }
  
  @media (max-width: 575.98px){
    .faq .custom-para {padding-right: 0px;}
    .faq .accordion-button {padding: 15px 0px 15px 55px;}
    .faq .accordion-body {padding: 10px 10px 10px 55px;}
    .faq {padding: 40px 0px;}
    .faq .accordion-wrap {margin-top: 30px;}
  }