/* *************** Header Section Start *************** */
/* header-top */
.header-top {
  background-color: var(--c-primary);
}
.header-top_content h4 {
  color: #766A59;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 0;
}
/* *************** Header Section End *************** */

/* *************** <add section name> Section Start *************** */
/* *************** <add section name> Section End *************** */

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
/* header */
.header-top_content h4 {font-size: 15px;padding: 6px 0;}    
/* header */    
}

@media (max-width: 575.98px){
/* header */
.header-top_content h4 {font-size: 14px;padding: 5px 0;}    
/* header */
}