/* *************** Header Section Start *************** */
/* header-top */
.header-top {
  background-color: var(--c-primary);
}
.header-top_content h4 {
  color: var(--c-text-secondary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 0;
}
/* header-nav */
.header-nav {
  padding: 19px 0;
}
.header-nav  .nav-item.active .nav-link {
  color: var(--c-secondary);
}
.custom-navbar-nav {
  gap: 0 40px;
}
.custom-navbar-nav .nav-item .nav-link {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.custom-navbar-nav .nav-item .nav-link:hover {
  color: var(--c-secondary);
}
.profile-actions  {
  gap: 0 30px;
}
.profile-actions .nav-item .nav-link {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: #464646;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--ff-secondary);
  gap: 0 5px;
}
.profile-actions .nav-item .nav-link span {
  color: #464646;
  display: inline-flex;
  font-size: 28px;
  align-items: center;
}
.profile-actions.actions-2.navbar-nav {
  display: none;
}
/* *************** Header Section End *************** */

/* *************** Banner Section Start *************** */
.custom-banner {
  position: relative;
}
.custom-banner .banner-bottom-pattern {
  z-index: 99;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 62px;
}
.custom-banner .banner-bottom-pattern img {
  width: 100%;
}
.custom-banner_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  gap: 0 120px;
}
/*.custom-banner_content .content {
  transform: rotate(0deg);
}*/
.custom-banner_content .content .heading {
  font-family: var(--ff-tertiary);
  font-size: 82px;
  line-height: 74px;
  letter-spacing: 6.8px;
  background-color: var(--c-secondary);
  padding: 23px 58px 13px;
  width: fit-content;
  text-align: center;
  margin: 0 auto 24px;
}
.custom-banner_content .content .sub-heading {
  font-size: 75px;
  letter-spacing: 4.58px;
}
.banner-button-wrap {
  margin-top: 60px;
}
.featured-product {
  position: relative;
}
.featured-product .product-img-b img {
  width: 292px;
  height: 419px;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid;
}
.product-img-b {
  display: inline-flex;
  align-items: center;
  color: var(--c-white-900) !important;
}
.product-img-b .product-b-details {
  position: absolute;
  top: -80px;
  left: -55px;
  display: flex;
  flex-direction: column;
  /* gap: 15px 0; */
}
.product-img-b .product-b-details .title {
  font-size: 22px;
  color: var(--c-text-primary);
  font-weight: 600;
  line-height: 66px;
  text-transform: capitalize;
}
.product-img-b .product-b-details .price {
  background-color: var(--c-white-900);
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff-secondary);
  border-radius: 4px;
  padding: 8px 36px;
}
.banner-pattern {
  position: absolute;
  left: -220px;
  top: -110px;
}
/* *************** Banner Section End *************** */

/* *************** Product Category Section Start *************** */
/*.category-carousel .item {
   margin: 0 17px;
}*/
.category-carousel .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 52px;
}
.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--c-secondary) !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--c-secondary) !important;
  font-size: 24px !important;
}

.product-category {
  position: relative;
}
.product-category::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  top: 0;
  left: 0;
  border-radius: 30px;
}
.product-category .main-img   {
  border-radius: 30px;
}
.product-category-content {
  position: absolute;
  bottom: 52px;
  left: 55px;
}
.product-category-content .icon img {
  width: 61px;
  height: 61px;
  object-fit: contain;
}
.product-category-content .product-category-title h5 {
  color: var(--c-white-900);
  font-size: 27px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 3px;
}
.product-category-button-wrap .custom-button {
  height: 44px;
  font-size: 13px;
  padding: 0 0 0 22px;
}
.product-category-button-wrap .custom-button span {
  margin: 0 0 0 12px;
  width: 44px;
}
.custom-our-category.custom-pad .custom-heading {
  text-align: center;
  margin-bottom: 72px;
}
.custom-our-category.custom-pad {
  margin-bottom: 135px;
}
/* *************** Product Category Section End *************** */

/* *************** About Section Start *************** */
.custom-about.custom-pad {
  background-color: #f8f8f8;
  position: relative;
  padding: 60px 0 155px 0;
}
.custom-about.custom-pad::before {
  position: absolute;
  content: '';
  background-image: url(../images/about-bg.webp);
  width: 100%;
  height: 100%;
  top: -63%;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.about-left .custom-heading {
  text-align: left;
  width: 50%;
}
.custom-list {
  margin-top: 35px;
}
.about-left .custom-paragraph {
  margin-top: 8px;
}
.about-button-wrap {
  margin-top: 38px;
}
.custom-list li {
  position: relative;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 600;
  color: var(--c-text-secondary);
  padding: 0 0 15px 35px;
}
.custom-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: -3px;
  color: var(--c-secondary);
}
.about-right {
  position: relative;
}
.about-right::after {
  position: absolute;
  content: '';
  background-image: url(../images/about-pattern.webp);
  width: 54%;
  top: -95px;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 100px;
}
.about-right-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about-right-carousel .owl-nav .owl-prev  {
  font-size: 30px !important;
}
.about-right-carousel .owl-nav .owl-next {
  top: 27px;
  position: absolute;
  right: 0;
  font-size: 30px !important;
}
.about-right .about-right-carousel .about-right-image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-mask.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
.about-right .about-right-carousel .about-right-image .target {
  display: block;
  width: 590px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
/* *************** About Section End *************** */

@media (min-width: 1900px) and (max-width: 1920px){
  .custom-banner .banner-bottom-pattern {bottom: -1px;}
}

@media (min-width: 1800px) and (max-width: 1900px){
  .custom-banner .banner-bottom-pattern {bottom: -4px;}
}

@media (min-width: 1700px) and (max-width: 1800px){
  .custom-banner .banner-bottom-pattern {bottom: -7px;}
  .custom-about.custom-pad::before {top: -62%;}

}

@media (min-width: 1600px) and (max-width: 1700px){
  .custom-banner .banner-bottom-pattern {bottom: -11px;}
  .custom-about.custom-pad::before {top: -61%;}
}

@media (min-width: 1500px) and (max-width: 1600px){
  .custom-banner .banner-bottom-pattern {bottom: -13px;}
  .custom-banner_content .content .heading {font-size: 70px;}
  .custom-banner_content .content .sub-heading {font-size: 65px;}
  .custom-about.custom-pad::before {top: -61%;}

}

@media (min-width: 1400px) and (max-width: 1500px){
  .custom-banner .banner-bottom-pattern {bottom: -17px;}
  .custom-banner_content .content .heading {font-size: 70px;}
  .custom-banner_content .content .sub-heading {font-size: 65px;}
  .banner-pattern img {width: 70%;object-fit: cover;}
  .banner-pattern {left: -180px;top: -70px;}
  .custom-about.custom-pad::before {top: -60%;}
  .custom-about.custom-pad {padding: 60px 0 115px 0;}
  .choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 20px;}

}

@media (min-width: 1300px) and (max-width: 1400px){
  .custom-banner .banner-bottom-pattern {bottom: -20px;}
  .custom-banner_content .content .heading {font-size: 65px;}
  .custom-banner_content .content .sub-heading {font-size: 60px;}
  .banner-pattern img {width: 70%;object-fit: cover;}
  .banner-pattern {left: -180px;top: -60px;}
  .product-img-b .product-b-details .title {line-height: 40px;}
  .product-img-b .product-b-details {top: -50px;}
  .custom-our-category.custom-pad .custom-heading {margin-bottom: 50px;}
  .product-category-content .product-category-title h5 {font-size: 24px;line-height: 56px;}
  .product-category-content .icon img {width: 50px;height: 50px;}
  .about-right-carousel .owl-nav {width: 92%;top: 50%;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 80%;}
  .custom-about.custom-pad::before {top: -61%;}
  .custom-about.custom-pad {padding: 60px 0 100px 0;}
  .brand .brand-box {padding: 65px;}
  .about-right .about-right-carousel .about-right-image .target {width: 560px;}
  .choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 20px;}
  .custom-our-category.custom-pad {margin-bottom: 85px;}
}

@media (min-width: 1200px) and (max-width: 1300px){
  .custom-banner .banner-bottom-pattern {bottom: -23px;}
  .custom-banner_content .content .heading {font-size: 60px;}
  .custom-banner_content .content .sub-heading {font-size: 55px;}
  .banner-pattern img {width: 70%;object-fit: cover;}
  .banner-pattern {left: -170px;top: -50px;}
  .product-img-b .product-b-details .title {line-height: 40px;}
  .product-img-b .product-b-details {top: -50px;}
  .custom-our-category.custom-pad .custom-heading {margin-bottom: 50px;}
  .product-category-content .product-category-title h5 {font-size: 24px;line-height: 56px;}
  .product-category-content .icon img {width: 50px;height: 50px;}
  .about-right-carousel .owl-nav {width: 83%;top: 45%;}
  .custom-banner_content .content .heading {padding: 13px 30px 8px;}
  .featured-product .product-img-b img {height: 360px;}
  .banner-button-wrap {margin-top: 40px;}
  .product-category-content {bottom: 50px;left: 35px;}
  .category-carousel .owl-nav {margin-top: 40px;}
  .about-left .custom-paragraph {padding-right: 50px;}
  .about-button-wrap {margin-top: 25px;}
  .custom-list {margin-top: 30px;}
  .custom-list li {font-size: 16px;padding: 0 0 15px 35px;}
  .custom-list li::before {font-size: 20px;}
  .about-right .about-right-carousel .about-right-image .target {width: 500px;}
  .about-right::after {width: 46%;top: -86px;right: 110px;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 80%;}
  .about-left .custom-heading {width: 60%;}
  .custom-about.custom-pad::before {top: -60%;}
  .custom-about.custom-pad {padding: 60px 0 70px 0;}
  .brand .brand-box {padding: 65px;}
  .footer-content.footer-contact-form .custom-button.form-btn::after {top: 21px !important;}
  .custom-our-category.custom-pad {margin-bottom: 65px;}
}

@media (min-width: 1024px) and (max-width: 1200px){
  .custom-banner .banner-bottom-pattern {bottom: -29px;}
  .custom-banner_content .content .heading {font-size: 50px;}
  .custom-banner_content .content .sub-heading {font-size: 45px;}
  .banner-pattern img {width: 55%;object-fit: cover;}
  .banner-pattern {left: -170px;top: -50px;}
  .product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
  .product-img-b .product-b-details {top: -50px;}
  .custom-our-category.custom-pad .custom-heading {margin-bottom: 40px;}
  .product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
  .product-category-content .icon img {width: 35px;height: 35px;}
  .about-right-carousel .owl-nav {width: 91%;top: 40%;}
  .custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
  .featured-product .product-img-b img {height: 360px;}
  .banner-button-wrap {margin-top: 30px;}
  .product-category-content {bottom: 40px;left: 25px;}
  .category-carousel .owl-nav {margin-top: 40px;}
  .about-left .custom-paragraph {padding-right: 50px;}
  .about-button-wrap {margin-top: 15px;}
  .custom-list {margin-top: 20px;}
  .custom-list li {font-size: 16px;padding: 0 0 15px 35px;}
  .custom-list li::before {font-size: 20px;}
  .about-right .about-right-carousel .about-right-image .target {width: 470px;}
  .about-right::after {width: 46%;top: -82px;right: 86px;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 70%;}
  .custom-header .profile-actions .nav-item .nav-link span {font-size: 22px;}
  .custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 13px;}
  .custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
  .custom-header .profile-actions {gap: 0 15px;align-items: baseline;}
  .custom-banner_content {gap: 0 80px;}
  .header-top_content h4 {font-size: 13px;padding: 4px 0;}
  .featured-product .product-img-b img {height: 310px;width: 270px;}
  .product-img-b .product-b-details .price {font-size: 14px;}
  .about-left .custom-heading {width: 60%;}
  .custom-about.custom-pad::before {top: -59%;}
  .custom-about.custom-pad {padding: 60px 0 60px 0;}
  .brand .brand-box {padding: 65px;}
  .footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
  .custom-our-category.custom-pad {margin-bottom: 40px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
  .custom-banner .banner-bottom-pattern {bottom: -30px;}
  .custom-banner_content .content .heading {font-size: 50px;}
  .custom-banner_content .content .sub-heading {font-size: 45px;}
  .banner-pattern img {width: 55%;object-fit: cover;}
  .banner-pattern {left: -170px;top: -50px;}
  .product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
  .product-img-b .product-b-details {top: -50px;}
  .custom-our-category.custom-pad .custom-heading {margin-bottom: 30px;}
  .product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
  .product-category-content .icon img {width: 35px;height: 35px;}
  .about-right-carousel .owl-nav {width: 91%;top: 40%;}
  .custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
  .featured-product .product-img-b img {height: 360px;}
  .banner-button-wrap {margin-top: 30px;}
  .product-category-content {bottom: 40px;left: 25px;}
  .category-carousel .owl-nav {margin-top: 40px;}
  .about-left .custom-paragraph {padding-right: 50px;}
  .about-button-wrap {margin-top: 15px;}
  .custom-list {margin-top: 20px;}
  .custom-list li {font-size: 15px;padding: 0 0 10px 35px;}
  .custom-list li::before {font-size: 20px;}
  .about-right .about-right-carousel .about-right-image .target {width: 470px;}
  .about-right::after {width: 46%;top: -82px;right: 86px;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 70%;}
  .custom-header .profile-actions .nav-item .nav-link span {font-size: 22px;}
  .custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 13px;}
  .custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
  .custom-header .profile-actions {gap: 0 6px;align-items: baseline;}
  .custom-banner_content {gap: 0 80px;}
  .header-top_content h4 {font-size: 13px;padding: 4px 0;}
  .featured-product .product-img-b img {height: 310px;width: 270px;}
  .product-img-b .product-b-details .price {font-size: 14px;}
  .about-left .custom-heading {width: 60%;}
  .custom-about.custom-pad::before {top: -59%;}
  .custom-about.custom-pad {padding: 60px 0 40px 0;}
  .brand .brand-box {padding: 65px;}
  .custom-our-category.custom-pad {margin-bottom: 40px;}
  .footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
}

@media only screen and (max-width: 991.98px) {  
/* header */  
.custom-header {/*position: fixed;*/width: 100%;}
/* header */
  .custom-banner .banner-bottom-pattern {bottom: -37px;}
  .custom-banner_content .content .heading {font-size: 40px;line-height: 54px;}
  .custom-banner_content .content .sub-heading {font-size: 35px;}
  .banner-pattern img {width: 40%;object-fit: cover;}
  .banner-pattern {left: -110px;top: -40px;}
  .product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
  .product-img-b .product-b-details {top: -50px;left: -15px;}
  .custom-our-category.custom-pad .custom-heading {margin-bottom: 30px;}
  .product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
  .product-category-content .icon img {width: 35px;height: 35px;}
  .about-right-carousel .owl-nav {width: 90%;top: 36%;}
  .custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
  .featured-product .product-img-b img {height: 360px;}
  .banner-button-wrap {margin-top: 30px;}
  .product-category-content {bottom: 40px;left: 25px;}
  .category-carousel .owl-nav {margin-top: 40px;}
  .about-left .custom-paragraph {padding-right: 50px;}
  .about-button-wrap {margin-top: 15px;}
  .custom-list {margin-top: 20px;}
  .custom-list li {font-size: 15px;padding: 0 0 10px 35px;}
  .custom-list li::before {font-size: 20px;}
  .about-right .about-right-carousel .about-right-image .target {width: 100%;height: auto;}
  .about-right::after {width: 54%;top: -154px;right: 90px;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 70%;}
  .custom-header .profile-actions .nav-item .nav-link span {font-size: 22px;}
  .custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 13px;}
  .custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
  .custom-header .profile-actions {gap: 0 6px; display: none;}
  .custom-banner_content {gap: 0 80px;}
  .header-top_content h4 {font-size: 13px;padding: 4px 0;}
  .featured-product .product-img-b img {height: 250px;width: 220px;}
  .product-img-b .product-b-details .price {font-size: 14px;}
  .about-left .custom-heading {width: 60%;}
  .custom-header .custom-navbar-nav.navbar-nav.m-auto {text-align: center;}
  .about-right-carousel {margin-top: 70px;}
  .custom-our-category.custom-pad {padding: 60px 0 0;}
  .custom-banner .d-block.w-100 {height: 420px;width: 100% !important;object-fit: cover;}
  .custom-about.custom-pad::before {top: -53%;}
  .custom-about.custom-pad {padding: 60px 0 40px 0;}
  .brand .brand-box {padding: 65px;}
  .custom-our-category.custom-pad {margin-bottom: 70px;}
  .footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
  .profile-actions.actions-2.navbar-nav {display: flex;flex-direction: row;margin-left: 30%;}
}

@media (max-width: 767.98px){
/* header */
.header-top_content h4 {font-size: 15px;padding: 6px 0;}    
/* header */    
  .custom-banner .banner-bottom-pattern {bottom: -41px;}
  .custom-banner_content .content .heading {font-size: 25px;line-height: 34px;}
  .featured-product .product-img-b img {height: 220px;width: 160px;border-radius: 20px;}
  .product-category::before {border-radius: 20px;}
  .category-carousel .owl-nav {margin-top: 30px;}
  .custom-banner_content {gap: 0px 47px;}
  .product-img-b .product-b-details .title {font-size: 16px;}
  .product-img-b .product-b-details .price {font-size: 12px;}
  .banner-button-wrap {margin-top: 20px;}
  .about-right-carousel .owl-nav {width: 93%;}
  .about-right::after {top: -116px;right: 70px;}
  .custom-banner .d-block.w-100 {height: 370px;width: 100% !important;object-fit: cover;}
  .profile-actions.actions-2.navbar-nav {margin-left: 10%;}
  .custom-about.custom-pad::before {top: -52.9%;}
}

@media (max-width: 575.98px){
/* header */
.header-top_content h4 {font-size: 14px;padding: 5px 0;}    
/* header */
  .custom-banner .banner-bottom-pattern {bottom: -43px;}
  .featured-product {display: none;}
  .custom-banner_content {justify-content: center;}
  .custom-banner .d-block.w-100 {height: 300px;}
  .about-left .custom-heading {width: 100%;text-align: center;}
  .about-left .custom-paragraph {padding-right: 0;text-align: center;}
  .about-button-wrap {text-align: center;}
  .about-right::after {top: -100px;right: 58px;}
  .about-right-carousel {margin-top: 50px;}
  .custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 60%;}
  .custom-our-category.custom-pad {padding: 40px 0 0;}
  .brand .brand-box {height: auto;}
  .profile-actions.actions-2.navbar-nav {display: none;}
  .custom-about.custom-pad::before {top: -52.7%;}
}
@media (max-width: 479.98px) {
  .custom-banner .banner-bottom-pattern {bottom: -44px;}
  .about-right::after {top: -80px;right: 48px;}
  .custom-about.custom-pad::before {top: -52.4%;}
}
@media (max-width: 389.98px) {
  .custom-banner .banner-bottom-pattern {bottom: -45px;}
  .custom-header .navbar-brand {margin-right: 0rem;}
  .custom-list li {font-size: 14px;}
  .about-right-carousel .owl-nav .owl-prev {font-size: 20px !important;}
  .about-right-carousel .owl-nav .owl-next {font-size: 20px !important;}
  .custom-about.custom-pad::before {top: -52.2%;}
}
@media (max-width: 359.98px) {
  .custom-header .navbar-brand {margin-right: -2rem;}
  .custom-banner .banner-bottom-pattern {bottom: -46px;}
  .custom-list li {font-size: 13px;}
  .about-right::after {top: -65px;right: 38px;}
}