/* *************** <add section name> Section Start *************** */

/*Products*/
.choose-products.products-section.custom-pad .choose-products-content-box {
    height: 525px;
}
.choose-products.products-section.custom-pad {
    padding: 120px 0 140px;
}
.choose-products.products-section .product-btn {
    text-align: center;
    margin-top: 50px;
}
/*Products*/

/*Testimonial*/
.testimonial.custom-pad .testi-content .custom-heading {
    text-align: left;
    padding-right: 60px;
}
.testimonial.custom-pad .testi-content .custom-para {
    margin-top: 22px;
}
.testimonial.custom-pad .testi-content .testi-btn {
    margin-top: 32px;
}
.testimonial .testi-box img {
    width: 100px !important;
    object-fit: cover;
    height: 100px !important;
    border-radius: 50px;
}
.testimonial .testi-box .client-img {
    justify-content: center;
    display: flex;
}
.testimonial .testi-box {
    text-align: center;
    background-color: var(--c-white-900);
    padding: 50px;
    border-radius: 25px;
    margin: 0 35px;
    position: relative;
}
.testimonial .testi-box h3 {
    font-family: var(--ff-primary);
    font-size: 25px;
    font-weight: 600;
    color: var(--c-text-primary);
    margin-top: 20px;
}
.testimonial .testi-box .custom-para {
    margin-top: 12px;
}
.testimonial .testi-box h5 {
    margin-top: 20px;
}
.testimonial .testi-box h6 {
    font-family: var(--ff-secondary);
    font-size: 13px;
    font-weight: 500;
    color: var(--c-text-tertiary-alt);
    margin-top: 12px;
}
.testimonial .testi-box .testi-quote {
    position: absolute;
    top: 95px;
    left: 0;
    right: 100px;
    margin: 0 auto;
    background-color: var(--c-white-900);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.testimonial .testi-box .testi-quote span {
    color: var(--c-secondary);
    font-size: 26px;
    line-height: 56px;
    text-align: center;
}
.testimonial .testimonial-carousel {
    padding: 0 0px 0 20px;
    position: relative;
}
.testimonial-carousel .owl-prev {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 1px solid var(--c-secondary) !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--c-secondary) !important;
    font-size: 24px !important;
    bottom: 245px;
    left: -50px;
    position: absolute;
}
.testimonial-carousel .owl-next{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 1px solid var(--c-secondary) !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--c-secondary) !important;
    font-size: 24px !important;
    top: 245px;
    left: -50px;
    position: absolute;
}
.testimonial.custom-pad {
    background-color: #f9f6ef;
}

/*Testimonial*/

/*Choose-Products*/
.choose-products .choose-products-content .choose-products-content-box-img a img {
    width: 100%;
    object-fit: cover;
}
.choose-products .choose-products-content .choose-products-content-box-text ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 12px;
}
.choose-products .choose-products-content .choose-products-content-box {
    height: 585px;
}
.choose-products .choose-products-content .choose-products-content-box-text h4 {
    font-family: var(--ff-primary);
    font-size: 22px;
    font-weight: 600;
    color: var(--c-text-primary);
}
.choose-products .choose-products-content .choose-products-content-box-text ul li {
    color: #ffc107;
    padding: 0 4px 0 0;
}
.choose-products .choose-products-content .choose-products-content-box-text ul li:last-child h6 {
    color: var(--c-text-secondary);
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 13px;
    padding-left: 5px;
}
.choose-products .choose-products-content .price li {
    padding: 0 20px 0 0px !important;
    font-family: var(--ff-secondary);
    font-size: 23px;
    font-weight: 600;
    color: var(--c-secondary) !important;
}
.choose-products .choose-products-content .price li del {
    color: var(--c-text-tertiary);
    font-family: var(--ff-secondary);
    font-size: 17px;
    font-weight: 600;
}
.choose-products .choose-products-content-box-text {
    padding: 40px 0px;
}
.choose-products.custom-pad {
    padding: 120px 0px 0;
}
.choose-products .choose-products-content {
    margin-top: 68px;
}
/*Choose-Products*/

/*Brands*/
.brand.custom-pad {
    padding-bottom: 150px;
    padding-top: 108px;
}
.brand .brand-content {
    margin-top: 70px;
}
.brand .brand-content-2 {
    margin-top: 30px;
}
.brand .brand-box {
    background-color: var(--c-tertiary);
    text-align: center;
    height: 150px;
    padding: 70px;
    border-radius: 5px;
}
.brand .container.modify {
    padding: 0 85px;
}
/*Brands*/

/*Footer*/
.footer-wrap {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 0;
}
.footer-wrap .footer-content h5 {
    margin-top: 35px;
}
.footer-wrap .footer-content .custom-para {
    line-height: 27px;
    margin: 22px 0 26px;
    font-size: 14px;
    padding-right: 90px;
}
.footer-wrap .footer-content .footer-mail span {
    background-color: var(--c-secondary);
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    color: var(--c-white-900);
    border-radius: 50px;
    margin-right: 10px;
    font-size: 18px;
}
.footer-wrap .footer-content .footer-mail {
    text-decoration: none;
    color: var(--c-text-secondary);
    font-family: var(--ff-secondary);
    font-size: 14px;
    font-weight: 500;
}
.footer-content.footer-contact-form {
    text-align: center;
}
.footer-content.footer-contact-form h4 {
    font-family: var(--ff-primary);
    font-size: 29px;
    font-weight: 600;
    color: var(--c-text-primary);
}
.footer-content.footer-contact-form .custom-para {
    padding: 0 160px;
    margin: 16px !important;
}
.footer-content.footer-contact-form .footer-email-form .mb-3.footer-email {
    display: flex;
    justify-content: center;
}
.footer-content.footer-contact-form .footer-email-form .mb-3.footer-email .form-control::placeholder {
    font-family: var(--ff-secondary);
    font-size: 12px;
    color: var(--c-text-tertiary) !important;
    font-weight: 500;
}
.footer-content.footer-contact-form .footer-email-form {
    margin-top: 26px;
}
.footer-content.footer-contact-form .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.footer-content.footer-contact-form .footer-social li {
    padding: 0 10px;
}
.footer-content.footer-contact-form .footer-social li a {
    text-decoration: none;
    color: var(--c-secondary);
    font-size: 16px;
    background-color: var(--c-white-900);
    height: 35px;
    width: 35px;
    line-height: 37px;
    border-radius: 5px;
    display: inline-block;
}
.footer-content.support h5 {
    margin-top: 0;
}
.footer-content.support ul {
    margin-top: 30px;
}
.footer-content.support ul li {
    padding-bottom: 15px;
}
.footer-content.support ul li:last-child {
    padding-bottom: 0px;
}
.footer-content.support ul li a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-text-secondary);
}
.footer-content.support {
    margin-left: 200px;
}
.copyright-brands ul {
    display: flex;
    justify-content: end;
    align-items: center;
}
.copyright-brands ul li {
    padding: 0 0 0 15px;
}
.copyright-content {
    margin-top: 65px;
    padding-bottom: 40px;
}
.copyright-brands {
    margin-top: 65px;
    padding-bottom: 40px;
}
.footer-content.footer-contact-form .custom-button.form-btn::after {
    position: absolute;
    content: '';
    background-image: url(../images/arrow.webp);
    width: 100%;
    top: 21px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
}
.footer-content.footer-contact-form .custom-button.form-btn {
    position: relative;
    width: 9%;
    margin-left: 26px;
    border-radius: 0;
    background-color: var(--c-secondary);
    transition: all 0.3s ease-in-out;
}
.footer-content.footer-contact-form .custom-button.form-btn:hover {
    background-color: var(--c-primary);
    cursor: pointer;
}
.footer-content.footer-contact-form .footer-email-form .form-control {
    width: 56%;
    border-radius: 0;
}

/*Footer*/



/* *************** <add section name> Section End *************** */

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}