/* *************** Header Section Start *************** */
/* header-top */
.header-top {
  background-color: var(--c-primary);
}
.header-top_content h4 {
  color: var(--c-black-700);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 0;
}
/* header-nav */
.header-nav {
  padding: 19px 0;
}
.custom-navbar-nav {
  gap: 0 40px;
}
.custom-navbar-nav .nav-item .nav-link {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 0;
}
.profile-actions  {
  gap: 0 30px;
}
.profile-actions .nav-item .nav-link {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: #464646;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--ff-secondary);
  gap: 0 5px;
}
.profile-actions .nav-item .nav-link span {
  color: #464646;
  display: inline-flex;
  font-size: 28px;
  align-items: center;
}
/* *************** Header Section End *************** */

/* *************** Banner Section Start *************** */
.custom-banner {
  position: relative;
}
.custom-banner .banner-bottom-pattern {
  z-index: 99;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 62px;
}
.custom-banner .banner-bottom-pattern img {
  width: 100%;
}
.custom-banner_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  gap: 0 120px;
}
.custom-banner_content .content {
  transform: rotate(-15deg);
}
.custom-banner_content .content .heading {
  font-family: var(--ff-tertiary);
  font-size: 82px;
  line-height: 74px;
  letter-spacing: 6.8px;
  background-color: var(--c-secondary);
  padding: 23px 58px 13px;
  width: fit-content;
  text-align: center;
  margin: 0 auto 24px;
}
.custom-banner_content .content .sub-heading {
  font-size: 75px;
  letter-spacing: 4.58px;
}
.banner-button-wrap {
  margin-top: 60px;
  transform: rotate(15deg) !important;
}
.featured-product {
  position: relative;
}
.featured-product .product-img-b img {
  width: 292px;
  height: 419px;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid;
}
.product-img-b {
  display: inline-flex;
  align-items: center;
  color: var(--c-white-900) !important;
}
.product-img-b .product-b-details {
  position: absolute;
  top: -80px;
  left: -55px;
  display: flex;
  flex-direction: column;
  /* gap: 15px 0; */
}
.product-img-b .product-b-details .title {
  font-size: 22px;
  color: var(--c-text-primary);
  font-weight: 600;
  line-height: 66px;
  text-transform: capitalize;
}
.product-img-b .product-b-details .price {
  background-color: var(--c-white-900);
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff-secondary);
  border-radius: 4px;
  padding: 8px 36px;
}
.banner-pattern {
  position: absolute;
  left: -220px;
  top: -110px;
}
/* *************** Banner Section End *************** */

/* *************** Product Category Section Start *************** */
/*.category-carousel .item {
   margin: 0 17px;
}*/
.category-carousel .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 52px;
}
.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--c-secondary) !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--c-secondary) !important;
  font-size: 24px !important;
}

.product-category {
  position: relative;
}
.product-category::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  top: 0;
  left: 0;
  border-radius: 30px;
}
.product-category .main-img   {
  border-radius: 30px;
}
.product-category-content {
  position: absolute;
  bottom: 52px;
  left: 55px;
}
.product-category-content .icon img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.product-category-content .product-category-title h5 {
  color: var(--c-white-900);
  font-size: 27px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 3px;
}
.product-category-button-wrap .custom-button {
  height: 44px;
  font-size: 13px;
  padding: 0 0 0 22px;
}
.product-category-button-wrap .custom-button span {
  margin: 0 0 0 12px;
  width: 44px;
}
/* *************** Product Category Section End *************** */

/* *************** About Section Start *************** */
.custom-about.custom-pad {
  padding: 200px 0 160px;
}
.about-left .custom-heading {
  text-align: left;
  width: 50%;
}
.custom-list {
  margin-top: 35px;
}
.about-left .custom-paragraph {
  margin-top: 8px;
}
.about-button-wrap {
  margin-top: 38px;
}
.custom-list li {
  position: relative;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 600;
  color: var(--c-text-secondary);
  padding: 0 0 15px 35px;
}
.custom-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: -3px;
  color: var(--c-secondary);
}
.about-right {
  position: relative;
}
.about-right-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 76%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about-right-carousel .owl-nav .owl-prev  {
  font-size: 24px !important;
}
.about-right-carousel .owl-nav .owl-next {
  top: 27px;
  position: absolute;
  right: 0;
  font-size: 24px !important;
}
.about-right .about-right-carousel .about-right-image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-mask.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
.about-right .about-right-carousel .about-right-image .target {
  display: block;
  width: 590px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
/* *************** About Section End *************** */

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {  
/* header */  
.custom-header {position: fixed;width: 100%;}
/* header */
}

@media (max-width: 767.98px){
/* header */
.header-top_content h4 {font-size: 15px;padding: 6px 0;}    
/* header */    
}

@media (max-width: 575.98px){
/* header */
.header-top_content h4 {font-size: 14px;padding: 5px 0;}    
/* header */
}