@charset "utf-8";
/* CSS Document */

@media (min-width: 2200px) and (max-width: 2520px){
.custom-banner_content {gap: 0 320px !important;}
.custom-banner .banner-bottom-pattern {height: 69px !important;}
.reviews-home::before {top: -62% !important;}
.footer-wrap {padding: 280px 0 0 !important;}
}
@media (min-width: 2000px) and (max-width: 2200px){
.custom-banner_content {gap: 0 240px !important;}
.custom-banner .banner-bottom-pattern {height: 65px !important;}
.reviews-home::before {top: -61% !important;}
.footer-wrap {padding: 200px 0 0 !important;}
}
@media (min-width: 1920px) and (max-width: 2000px){
.custom-banner_content {gap: 0 120px !important;}
.custom-banner .banner-bottom-pattern {bottom: -1px;}
.custom-banner .banner-bottom-pattern {height: 62px !important;}
.reviews-home::before {top: -60% !important;}
.footer-wrap {padding: 160px 0 0 !important;}
}
@media (min-width: 1900px) and (max-width: 1920px){
.custom-banner .banner-bottom-pattern {bottom: -1px;}
}

@media (min-width: 1800px) and (max-width: 1900px){
.custom-banner .banner-bottom-pattern {bottom: -4px;}
}

@media (min-width: 1700px) and (max-width: 1800px){
.custom-banner .banner-bottom-pattern {bottom: -7px;}
.custom-about.custom-pad::before {top: -62%;}
.reviews-home::before {top: -59%;}

}

@media (min-width: 1600px) and (max-width: 1700px){
.custom-banner .banner-bottom-pattern {bottom: -11px;}
.custom-about.custom-pad::before {top: -61%;}
.reviews-home::before {top: -59%;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 85px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 23px;padding-left: 23px;}
}

@media (min-width: 1500px) and (max-width: 1600px){
.custom-banner .banner-bottom-pattern {bottom: -13px;}
.custom-banner_content .content .heading {font-size: 70px;}
.custom-banner_content .content .sub-heading {font-size: 65px;}
.custom-about.custom-pad::before {top: -61%;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 15px;padding-left: 15px;}
.testimonial-carousel .owl-next {left: -75px;}
.testimonial-carousel .owl-prev {left: -75px;}
.reviews-home::before {top: -58%;}
.custom-header .header-nav {padding: 24px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 78px;}
}

@media (min-width: 1400px) and (max-width: 1500px){
.custom-banner .banner-bottom-pattern {bottom: -17px;}
.custom-banner_content .content .heading {font-size: 70px;}
.custom-banner_content .content .sub-heading {font-size: 65px;}
.banner-pattern img {width: 70%;object-fit: cover;}
.banner-pattern {left: -180px;top: -70px;}
.custom-about.custom-pad::before {top: -60%;}
.custom-about.custom-pad {padding: 90px 0 100px 0;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 20px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 10px;padding-left: 10px;}
.header-nav .nav-item.active .nav-link {font-size: 14px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 14px;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 16px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 16px 0;font-size: 13px !important;}
.custom-inner-banner {padding: 110px 0 120px !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 68px !important;line-height: 56px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 10px !important;}
.custom-pad {padding: 100px 0;}
.custom-heading h2 {font-size: 48px;margin-top: 10px;}
.choose-products.products-section .product-btn {margin-top: 20px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 50px;}
.choose-products .choose-products-content {margin-top: 45px;}
.choose-products .choose-products-content .choose-products-content-box {height: 545px;}
.brand .brand-content {margin-top: 45px;}
.footer-content.support {margin-left: 195px;}
.testimonial .testi-box {padding: 50px 20px;}
.testimonial-carousel .owl-next {top: 260px;left: -57px;}
.testimonial-carousel .owl-prev {bottom: 260px;left: -57px;}
.choose-products.products-section.custom-pad {padding: 100px 0 100px;}
.choose-products.custom-pad {padding: 100px 0px 0;}
.brand.custom-pad {padding-bottom: 100px;padding-top: 100px;}
.reviews-home::before {top: -58%;}
.custom-header .header-nav {padding: 20px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 72px;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 120px;}
.testimonial-wrap .short-title h5 {font-size: 40px;width: 70%;}
.testimonial-wrap .text p {font-size: 17px;line-height: 32px;}
.faq .custom-para {padding-right: 470px;}
.faq {padding: 90px 0 105px;}
}

@media (min-width: 1300px) and (max-width: 1400px){
.custom-banner .banner-bottom-pattern {bottom: -20px;}
.custom-banner_content .content .heading {font-size: 65px;}
.custom-banner_content .content .sub-heading {font-size: 60px;}
.banner-pattern img {width: 70%;object-fit: cover;}
.banner-pattern {left: -180px;top: -60px;}
.product-img-b .product-b-details .title {line-height: 40px;}
.product-img-b .product-b-details {top: -50px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 50px;}
.product-category-content .product-category-title h5 {font-size: 24px;line-height: 56px;}
.product-category-content .icon img {width: 50px;height: 50px;}
.about-right-carousel .owl-nav {width: 92%;top: 50%;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 80%;}
.custom-header .header-nav .navbar-brand {margin-right: 0rem;}
.custom-header .custom-navbar-nav {gap: 0 28px;}
.custom-about.custom-pad::before {top: -61%;}
.custom-about.custom-pad {padding: 80px 0 80px 0;}
.brand .brand-box {padding: 65px;}
.about-right .about-right-carousel .about-right-image .target {width: 560px;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 20px !important;}
.custom-our-category.custom-pad {margin-bottom: 85px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 10px;padding-left: 10px;}
.header-nav .nav-item.active .nav-link {font-size: 14px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 14px;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 16px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 16px 0;font-size: 13px !important;}
.custom-inner-banner {padding: 110px 0 120px !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 68px !important;line-height: 56px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 10px !important;}
.custom-pad {padding: 100px 0;}
.custom-heading h2 {font-size: 48px;margin-top: 10px;}
.custom-button {font-size: 14px;padding: 0px 0 0 25px;height: 55px;}
.container {max-width: 1170px;}
.choose-products.products-section .product-btn {margin-top: 10px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 50px;}
.choose-products .choose-products-content {margin-top: 45px;}
.choose-products .choose-products-content .choose-products-content-box {height: 515px;}
.choose-products.products-section.custom-pad .choose-products-content-box {height: 495px;}
.brand .brand-content {margin-top: 45px;}
.footer-content.support {margin-left: 135px;}
.testimonial .testi-box {padding: 50px 20px;}
.testimonial-carousel .owl-next {top: 210px;left: -57px;}
.testimonial-carousel .owl-prev {bottom: 210px;left: -57px;}
.choose-products.products-section.custom-pad {padding: 100px 0 100px;}
.choose-products.custom-pad {padding: 100px 0px 0;}
.brand.custom-pad {padding-bottom: 100px;padding-top: 100px;}
.reviews-home::before {top: -57%;}
.review-home-content h5 {font-size: 21px;padding: 35px 0;}
.custom-header .header-nav {padding: 15px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 68px;}
.footer-content.footer-contact-form .custom-para {padding: 0 110px;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.about-inner-service-content h4 {font-size: 23px;}
.about-inner.our-mission-content {padding-left: 55px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 120px;}
.testimonial-wrap .short-title h5 {font-size: 40px;width: 70%;}
.testimonial-wrap .text p {font-size: 17px;line-height: 32px;}
.inner-testimonial .custom-heading {padding-bottom: 70px;}
.faq .custom-para {padding-right: 470px;}
.faq {padding: 90px 0 105px;}
.faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
.faq .accordion-body {font-size: 13px;}
.tc {padding: 100px 0;}
.tc-wrap h3 {margin-bottom: 15px;}
.tc-wrap .heading-margin-top {margin-top: 30px;}
.tc-wrap .custom-para {font-size: 14px;line-height: 32px;}
.tc-wrap .custom-tc-list li {font-size: 14px;}
}

@media (min-width: 1200px) and (max-width: 1300px){
.custom-banner .banner-bottom-pattern {bottom: -23px;}
.custom-banner_content .content .heading {font-size: 60px;}
.custom-banner_content .content .sub-heading {font-size: 55px;}
.banner-pattern img {width: 70%;object-fit: cover;}
.banner-pattern {left: -170px;top: -50px;}
.product-img-b .product-b-details .title {line-height: 40px;}
.product-img-b .product-b-details {top: -50px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 50px;}
.product-category-content .product-category-title h5 {font-size: 24px;line-height: 56px;}
.product-category-content .icon img {width: 50px;height: 50px;}
.about-right-carousel .owl-nav {width: 83%;top: 45%;}
.custom-banner_content .content .heading {padding: 13px 30px 8px;}
.featured-product .product-img-b img {height: 360px;}
.banner-button-wrap {margin-top: 40px;}
.product-category-content {bottom: 50px;left: 35px;}
.category-carousel .owl-nav {margin-top: 40px;}
.about-left .custom-paragraph {padding-right: 50px;}
.about-button-wrap {margin-top: 25px;}
.custom-list {margin-top: 30px;}
.custom-list li {font-size: 16px;padding: 0 0 15px 35px;}
.custom-list li::before {font-size: 20px;}
.about-right .about-right-carousel .about-right-image .target {width: 500px;}
.about-right::after {width: 46%;top: -86px;right: 110px;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 80%;}
.custom-header .header-nav .navbar-brand {margin-right: 0rem;}
.custom-header .custom-navbar-nav {gap: 0 28px;}
.about-left .custom-heading {width: 60%;}
.custom-about.custom-pad::before {top: -60%;}
.custom-about.custom-pad {padding: 80px 0 80px 0;}
.brand .brand-box {padding: 65px;}
.footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
.custom-our-category.custom-pad {margin-bottom: 65px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 10px;padding-left: 10px;}
.header-nav .nav-item.active .nav-link {font-size: 14px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 14px;}
.custom-header .profile-actions {gap: 0 5px;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 14px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 14px 0;font-size: 12px !important;}
.custom-header .add-padding {padding: 20px 0 35px !important;}
.custom-inner-banner {padding: 100px 0 !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 68px !important;line-height: 56px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 10px !important;}
.custom-pad {padding: 90px 0;}
.custom-heading h2 {font-size: 44px;margin-top: 8px;}
.custom-button {font-size: 14px;padding: 0px 0 0 25px;height: 55px;}
p {font-size: 14px;line-height: 26px;}
.container {max-width: 1170px;}
.choose-products.products-section .product-btn {margin-top: 10px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 50px;}
.choose-products .choose-products-content {margin-top: 45px;}
.choose-products .choose-products-content .choose-products-content-box {height: 435px;}
.choose-products.products-section.custom-pad .choose-products-content-box {height: 425px;}
.brand .brand-content {margin-top: 45px;}
.footer-content.support {margin-left: 135px;}
.testimonial .testi-box {padding: 50px 20px;margin: 0 20px;}
.choose-products .choose-products-content-box-text {padding: 20px 0px;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 19px;}
.choose-products .choose-products-content .choose-products-content-box-text ul {margin-top: 8px;}
.choose-products .choose-products-content .price li del {font-size: 15px;}
.choose-products .choose-products-content .price li {font-size: 20px;}
.testimonial .testi-box h3 {font-size: 22px;}
.testimonial .testi-box h5 {margin-top: 14px;}
.testimonial .testi-box h6 {margin-top: 5px;}
.footer-content.footer-contact-form .custom-para {padding: 0 110px;}
.footer-content img {height: 40px;}
.testimonial-carousel .owl-next {top: 210px;left: -50px;}
.testimonial-carousel .owl-prev {bottom: 210px;left: -50px;}
.choose-products.products-section.custom-pad {padding: 90px 0 90px;}
.choose-products.custom-pad {padding: 90px 0px 0;}
.brand.custom-pad {padding-bottom: 90px;padding-top: 90px;}
.reviews-home::before {top: -57%;}
.review-home-content h5 {font-size: 20px;padding: 28px 0;}
.review-img img {width: 100%;object-fit: cover;}
.custom-header .header-nav {padding: 10px 0 !important;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 62px;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;margin-top: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.about-inner-service-content h4 {font-size: 23px;}
.about-inner.our-mission-content {padding-left: 55px;}
.about-inner.our-mission-content-heading {margin-top: 30px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 100px;}
.testimonial-wrap .short-title h5 {font-size: 36px;width: 70%;line-height: 54px;}
.testimonial-wrap .text p {font-size: 16px;line-height: 30px;}
.inner-testimonial .custom-heading {padding-bottom: 70px;}
.testimonials > :nth-child(2n) .content {left: 170px;}
.custom-google-map .map {padding-bottom: 15px;}
.faq .custom-para {padding-right: 470px;font-size: 15px;margin-top: 16px;}
.faq {padding: 80px 0 95px;}
.faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
.faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
.faq .accordion-wrap {margin-top: 35px;}
.tc {padding: 100px 0;}
.tc-wrap h3 {margin-bottom: 15px;}
.tc-wrap .heading-margin-top {margin-top: 30px;}
.tc-wrap .custom-para {font-size: 14px;line-height: 32px;}
.tc-wrap .custom-tc-list li {font-size: 14px;}

.custom-google-map .map {padding-bottom: 15px;}
.inner-product-details .bottom {padding: 35px 0 50px;}
.product-details-top.custom-pad {padding: 80px 0;}
.inner-product-details .right {padding-left: 10px;}
}

@media (min-width: 1024px) and (max-width: 1200px){
.custom-banner .banner-bottom-pattern {bottom: -29px;}
.custom-banner_content .content .heading {font-size: 50px;}
.custom-banner_content .content .sub-heading {font-size: 45px;}
.banner-pattern img {width: 55%;object-fit: cover;}
.banner-pattern {left: -170px;top: -50px;}
.product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
.product-img-b .product-b-details {top: -50px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 40px;}
.product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
.product-category-content .icon img {width: 35px;height: 35px;}
.about-right-carousel .owl-nav {width: 91%;top: 40%;}
.custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
.featured-product .product-img-b img {height: 360px;}
.banner-button-wrap {margin-top: 30px;}
.product-category-content {bottom: 40px;left: 25px;}
.category-carousel .owl-nav {margin-top: 40px;}
.about-left .custom-paragraph {padding-right: 50px;}
.about-button-wrap {margin-top: 15px;}
.custom-list {margin-top: 20px;}
.custom-list li {font-size: 16px;padding: 0 0 15px 35px;}
.custom-list li::before {font-size: 20px;}
.about-right .about-right-carousel .about-right-image .target {width: 470px;}
.about-right::after {width: 46%;top: -82px;right: 86px;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 70%;}
.custom-header .header-nav .navbar-brand {margin-right: 0rem;}
.custom-header .custom-navbar-nav {gap: 0 28px;}
.custom-header .profile-actions .nav-item .nav-link span {font-size: 22px;}
.custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 13px;}
.custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
.custom-header .profile-actions {gap: 0 15px;align-items: baseline;}
.custom-banner_content {gap: 0 80px;}
.header-top_content h4 {font-size: 13px;padding: 4px 0;}
.featured-product .product-img-b img {height: 310px;width: 270px;}
.product-img-b .product-b-details .price {font-size: 14px;}
.about-left .custom-heading {width: 60%;}
.custom-about.custom-pad::before {top: -59%;}
.custom-about.custom-pad {padding: 80px 0 80px 0;}
.brand .brand-box {padding: 65px;}
.footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
.custom-our-category.custom-pad {margin-bottom: 40px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 7px;padding-left: 7px;}
.header-nav .nav-item.active .nav-link {font-size: 12px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;}
.custom-header .profile-actions {gap: 0 2px;}
.profile-actions .nav-item .nav-link {font-size: 12px !important;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 14px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 14px 0;font-size: 12px !important;}
.custom-header .add-padding {padding: 20px 0 35px !important;}
.custom-inner-banner {padding: 100px 0 !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 60px !important;line-height: 50px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 10px !important;}
.custom-pad {padding: 80px 0;}
.custom-heading h2 {font-size: 38px;margin-top: 6px;}
.custom-button {font-size: 13px;padding: 0px 0 0 15px;height: 50px;}
.custom-button span {margin: 0 0 0 5px;}
p {font-size: 14px;line-height: 26px;}
.choose-products.products-section .product-btn {margin-top: 40px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 50px;}
.choose-products .choose-products-content {margin-top: 45px;}
.choose-products .choose-products-content .choose-products-content-box {height: 385px;}
.choose-products.products-section.custom-pad .choose-products-content-box {height: 365px;}
.brand .brand-content {margin-top: 45px;}
.footer-content.support {margin-left: 95px;}
.testimonial .testi-box {padding: 50px 20px;margin: 0 10px;}
.choose-products .choose-products-content-box-text {padding: 20px 0px;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 17px;}
.choose-products .choose-products-content .choose-products-content-box-text ul {margin-top: 8px;}
.choose-products .choose-products-content .price li del {font-size: 14px;}
.choose-products .choose-products-content .price li {font-size: 16px;padding: 0 10px 0 0px !important;}
.testimonial .testi-box h3 {font-size: 22px;}
.testimonial .testi-box h5 {margin-top: 14px;}
.testimonial .testi-box h6 {margin-top: 5px;}
.footer-content.footer-contact-form .custom-para {padding: 0 60px;}
.footer-content.footer-contact-form .custom-button.form-btn {width: 12%;margin-left: 16px;}
.footer-wrap .footer-content .custom-para {padding-right: 20px;}
.footer-content img {height: 40px;}
.brand .brand-box {padding: 70px 30px;}
.testimonial-carousel .owl-next {top: 225px;left: -50px;}
.testimonial-carousel .owl-prev {bottom: 225px;left: -50px;}
.choose-products.products-section.custom-pad {padding: 80px 0 80px;}
.choose-products.custom-pad {padding: 80px 0px 0;}
.brand.custom-pad {padding-bottom: 80px;padding-top: 80px;}
.reviews-home::before {top: -57%;}
.review-home-content h5 {font-size: 18px;padding: 22px 0;}
.review-img img {width: 100%;object-fit: cover;}
.custom-header .header-nav {padding: 10px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 59px;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;margin-top: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.about-inner-service-content h4 {font-size: 20px;}
.about-inner.our-mission-content {padding-left: 55px;}
.about-inner-service-box {padding: 60px 0px;}
.about-inner-service-box.first::after {left: 165px;}
.about-inner-service-box.second::after {left: 155px;}
.about-inner-service-box.third::after {left: 155px;}
.about-inner.our-mission-content-heading {margin-top: 30px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 80px;}
.testimonial-wrap .short-title h5 {font-size: 34px;width: 70%;line-height: 48px;}
.testimonial-wrap .text p {font-size: 14px;line-height: 28px;}
.inner-testimonial .custom-heading {padding-bottom: 70px;}
.testimonials > :nth-child(2n) .content {left: 120px;}
.testimonial-wrap .image .target {width: 448px;height: 448px;}
.testimonial-wrap .image::after {width: 70%;right: -115px;}
.testimonial-wrap .user p {font-size: 18px;}
.testimonial-wrap .user {padding-top: 20px;}
.custom-google-map .map {padding-bottom: 10px;}
.inner-contact .custom-paragraph p {width: 65%;}
.custom-product-listing.choose-products .choose-products-content-box-text {padding: 25px 0px 30px;}
.faq .custom-para {padding-right: 360px;font-size: 15px;margin-top: 16px;}
.faq {padding: 80px 0 80px;}
.faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 19px;}
.faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
.faq .accordion-wrap {margin-top: 35px;}
.tc {padding: 80px 0;}
.tc-wrap h3 {margin-bottom: 12px;font-size: 24px;}
.tc-wrap .heading-margin-top {margin-top: 30px;}
.tc-wrap .custom-para {font-size: 14px;line-height: 32px;}
.tc-wrap .custom-tc-list li {font-size: 14px;padding: 0px 0px 12px;}
.tc-wrap {padding-right: 40px;}

.custom-google-map .map {padding-bottom: 10px;}
.inner-contact .custom-paragraph p {width: 65%;}
.custom-product-listing.choose-products .choose-products-content-box-text {padding: 25px 0px 30px;}
.inner-product-details .bottom {padding: 25px 0 40px;}
.product-details-top.custom-pad {padding: 70px 0;}
.inner-product-details .right {padding-left: 5px;}
.inner-product-details #big .owl-item img {height: 500px;}
.inner-product-details #big {margin-bottom: 14px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
.custom-banner .banner-bottom-pattern {bottom: -30px;}
.custom-banner_content .content .heading {font-size: 50px;}
.custom-banner_content .content .sub-heading {font-size: 45px;}
.banner-pattern img {width: 55%;object-fit: cover;}
.banner-pattern {left: -170px;top: -50px;}
.product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
.product-img-b .product-b-details {top: -50px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 30px;}
.product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
.product-category-content .icon img {width: 35px;height: 35px;}
.about-right-carousel .owl-nav {width: 91%;top: 40%;}
.custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
.featured-product .product-img-b img {height: 360px;}
.banner-button-wrap {margin-top: 30px;}
.product-category-content {bottom: 40px;left: 25px;}
.category-carousel .owl-nav {margin-top: 40px;}
.about-left .custom-paragraph {padding-right: 50px;}
.about-button-wrap {margin-top: 15px;}
.custom-list {margin-top: 20px;}
.custom-list li {font-size: 15px;padding: 0 0 10px 35px;}
.custom-list li::before {font-size: 20px;}
.about-right .about-right-carousel .about-right-image .target {width: 470px;}
.about-right::after {width: 46%;top: -82px;right: 86px;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 60%;}
.custom-header .header-nav .navbar-brand {margin-right: 0rem;}
.custom-header .custom-navbar-nav {gap: 0 28px;}
.custom-header .profile-actions .nav-item .nav-link span {font-size: 22px;}
.custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 13px;}
.custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
.custom-header .profile-actions {gap: 0 2px;align-items: baseline;}
.custom-banner_content {gap: 0 80px;}
.header-top_content h4 {font-size: 13px;padding: 4px 0;}
.featured-product .product-img-b img {height: 310px;width: 270px;}
.product-img-b .product-b-details .price {font-size: 14px;}
.about-left .custom-heading {width: 60%;}
.custom-about.custom-pad::before {top: -59%;}
.custom-about.custom-pad {padding: 80px 0 30px 0;}
.brand .brand-box {padding: 65px;}
.custom-our-category.custom-pad {margin-bottom: 40px;}
.footer-content.footer-contact-form .custom-button.form-btn::after {top: 18px !important;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 7px;padding-left: 7px;}
.header-nav .nav-item.active .nav-link {font-size: 12px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;}
.profile-actions .nav-item .nav-link {font-size: 12px !important;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 14px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 14px 0;font-size: 12px !important;}
.custom-header .add-padding {padding: 20px 0 35px !important;}
.custom-inner-banner {padding: 90px 0 !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 55px !important;line-height: 42px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 10px !important;}
.custom-inner-banner nav .breadcrumb {font-size: 15px !important;line-height: 28px !important;}
.custom-pad {padding: 80px 0;}
.custom-heading h2 {font-size: 38px;margin-top: 6px;}
.custom-button {font-size: 13px;padding: 0px 0 0 15px;height: 50px;}
.custom-button span {margin: 0 0 0 5px;}
p {font-size: 13px;line-height: 24px;}
.choose-products.products-section .product-btn {margin-top: 10px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 50px;}
.choose-products .choose-products-content {margin-top: 25px;}
.choose-products .choose-products-content .choose-products-content-box {height: 385px;}
.choose-products.products-section.custom-pad .choose-products-content-box {height: 365px;}
.brand .brand-content {margin-top: 25px;}
.footer-content.support {margin-left: 95px;}
.testimonial .testi-box {padding: 50px 20px;margin: 0 10px;}
.choose-products .choose-products-content-box-text {padding: 20px 0px;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 17px;}
.choose-products .choose-products-content .choose-products-content-box-text ul {margin-top: 8px;}
.choose-products .choose-products-content .price li del {font-size: 14px;}
.choose-products .choose-products-content .price li {font-size: 16px;padding: 0 10px 0 0px !important;}
.testimonial .testi-box h3 {font-size: 22px;}
.testimonial .testi-box h5 {margin-top: 14px;}
.testimonial .testi-box h6 {margin-top: 5px;}
.footer-content.footer-contact-form .custom-para {padding: 0 60px;}
.footer-content.footer-contact-form .custom-button.form-btn {width: 12%;margin-left: 16px;}
.footer-wrap .footer-content .custom-para {padding-right: 20px;}
.footer-content img {height: 40px;}
.brand .brand-box {padding: 70px 30px;}
.testimonial-carousel .owl-next {top: 220px;left: -50px;}
.testimonial-carousel .owl-prev {bottom: 220px;left: -50px;}
.choose-products.products-section.custom-pad {padding: 80px 0 80px;}
.choose-products.custom-pad {padding: 80px 0px 0;}
.brand.custom-pad {padding-bottom: 80px;padding-top: 80px;}
.reviews-home::before {top: -57%;}
.review-home-content h5 {font-size: 18px;padding: 22px 0;}
.review-img img {width: 100%;object-fit: cover;}
.custom-header .header-nav {padding: 10px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 59px;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;margin-top: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.about-inner-service-content h4 {font-size: 20px;}
.about-inner.our-mission-content {padding-left: 55px;}
.about-inner-service-box {padding: 60px 0px;}
.about-inner-service-box.first::after {left: 165px;}
.about-inner-service-box.second::after {left: 155px;}
.about-inner-service-box.third::after {left: 155px;}
.about-inner.our-mission-content {padding-left: 15px;}
.about-inner.our-mission-content-heading {margin-top: 30px;}
.about-inner.our-mission-content h3 {font-size: 24px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 80px;}
.testimonial-wrap .short-title h5 {font-size: 34px;width: 70%;line-height: 48px;padding-bottom: 20px;}
.testimonial-wrap .text p {font-size: 14px;line-height: 28px;}
.inner-testimonial .custom-heading {padding-bottom:55px;}
.testimonials > :nth-child(2n) .content {left: 120px;}
.testimonial-wrap .image .target {width: 448px;height: 448px;}
.testimonial-wrap .image::after {width: 70%;right: -115px;}
.testimonial-wrap .user p {font-size: 18px;}
.testimonial-wrap .user {padding-top: 20px;}
.custom-google-map .map {padding-bottom: 5px;}
.inner-contact .custom-paragraph p {width: 65%;}
.custom-product-listing.choose-products .choose-products-content-box-text {padding: 25px 0px 30px;}
.faq .custom-para {padding-right: 340px;font-size: 14px;margin-top: 16px;}
.faq {padding: 80px 0 80px;}
.faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 18px;}
.faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
.faq .accordion-wrap {margin-top: 30px;}
.tc {padding: 80px 0;}
.tc-wrap h3 {margin-bottom: 12px;font-size: 24px;}
.tc-wrap .heading-margin-top {margin-top: 30px;}
.tc-wrap .custom-para {font-size: 14px;line-height: 32px;}
.tc-wrap .custom-tc-list li {font-size: 14px;padding: 0px 0px 12px;}
.tc-wrap {padding-right: 40px;}

.custom-google-map .map {padding-bottom: 5px;}
.inner-contact .custom-paragraph p {width: 65%;}
.custom-product-listing.choose-products .choose-products-content-box-text {padding: 25px 0px 30px;}
.inner-product-details .bottom {padding: 25px 0 30px;}
.product-details-top.custom-pad {padding: 60px 0;}
.inner-product-details .right {padding-left: 0px;}
.inner-product-details #big .owl-item img {height: 460px;}
.inner-product-details .right .breadcrumb-item {font-size: 15px;}
.inner-product-details .right .product-title {font-size: 35px;padding: 5px 0 3px;}
.inner-product-details .right .product-name {padding-bottom: 12px;}
.product-interaction {padding: 12px 0 20px;}
.product-add-to-cart {gap: 0 10px;margin-top: 12px;}
.product-other-details {gap: 12px 0;padding-top: 14px;}
.inner-product-details .bottom .tab-content {padding-top: 30px;}
.inner-product-details #big {margin-bottom: 14px;}
}

@media only screen and (max-width: 991.98px) {  
.custom-header {position: fixed;width: 100%;z-index: 2;top: 0;}
.custom-banner {margin-top: 115px;}
.custom-banner .banner-bottom-pattern {bottom: -37px;}
.custom-banner_content .content .heading {font-size: 40px;line-height: 54px;}
.custom-banner_content .content .sub-heading {font-size: 35px;}
.banner-pattern img {width: 40%;object-fit: cover;display: none;}
.banner-pattern {left: -110px;top: -40px;}
.product-img-b .product-b-details .title {line-height: 40px;font-size: 18px;}
.product-img-b .product-b-details {top: -50px;left: -15px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 30px;}
.product-category-content .product-category-title h5 {font-size: 20px;line-height: 44px;}
.product-category-content .icon img {width: 35px;height: 35px;}
.about-right-carousel .owl-nav {width: 76%;top: 36%;}
.custom-banner_content .content .heading {padding: 9px 20px 4px;margin: 0 auto 14px;}
.featured-product .product-img-b img {height: 360px;}
.banner-button-wrap {margin-top: 30px;}
.product-category-content {bottom: 40px;left: 25px;}
.category-carousel .owl-nav {margin-top: 40px;}
.about-left .custom-paragraph {padding-right: 50px;}
.about-button-wrap {margin-top: 15px;}
.custom-list {margin-top: 20px;}
.custom-list li {font-size: 15px;padding: 0 0 10px 35px;}
.custom-list li::before {font-size: 20px;}
.about-right .about-right-carousel .about-right-image .target {width: 80%;height: auto;}
.about-right::after {width: 44%;top: -144px;right: 130px;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 70%;}
.custom-header .profile-actions .nav-item .nav-link span {font-size: 32px;}
.custom-header .custom-navbar-nav .nav-item .nav-link {font-size: 15px;}
.custom-header .custom-navbar-nav .nav-item {padding: 4px 0;}
.custom-header .profile-actions .nav-item .nav-link {font-size: 12px;}
.custom-header .profile-actions {gap: 0px 6px;display: flex;flex-direction: row;justify-content: left;margin-top: 10px;}
.custom-banner_content {gap: 0 80px;}
.header-top_content h4 {font-size: 13px;padding: 4px 0;}
.featured-product .product-img-b img {height: 250px;width: 220px;}
.product-img-b .product-b-details .price {font-size: 14px;}
.about-left .custom-heading {width: 60%;}
.custom-header .custom-navbar-nav.navbar-nav.m-auto {text-align: center;}
.about-right-carousel {margin-top: 70px;}
.custom-our-category.custom-pad {padding: 70px 0 0;}
.custom-banner .d-block.w-100 {height: 420px;width: 100% !important;object-fit: cover;}
.custom-about.custom-pad::before {top: -53%;}
.custom-about.custom-pad {padding: 60px 0 0px 0;}
.brand .brand-box {padding: 65px;}
.custom-our-category.custom-pad {margin-bottom: 70px;}
.profile-actions.actions-2.navbar-nav {display: flex;flex-direction: row;margin-left: 30%;display: none;}
.custom-inner-banner {padding: 80px 0 70px !important;margin-top: 100px !important;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 45px !important;line-height: 35px !important;}
.custom-inner-banner .inner-banner-heading {padding-bottom: 8px !important;}
.custom-inner-banner nav .breadcrumb {font-size: 15px !important;line-height: 28px !important;}
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
.custom-pad {padding: 60px 0;}
.custom-heading h2 {font-size: 34px;margin-top: 4px;}
.custom-button {font-size: 14px;padding: 0px 0 0 15px;height: 50px;}
.custom-button span {margin: 0 0 0 0px;}
p {font-size: 13px;line-height: 24px;}
.choose-products.products-section .product-btn {margin-top: 43px;}
.testimonial .testimonial-carousel {padding: 0 0px 0 4px;}
.choose-products .choose-products-content {margin-top: 45px;}
.choose-products .choose-products-content .choose-products-content-box {height: auto;}
.choose-products.products-section.custom-pad .choose-products-content-box {height: auto;}
.brand .brand-content {margin-top: 25px;}
.footer-content.support {margin-left: 0px;}
.testimonial .testi-box {padding: 50px 20px;margin: 0 10px;}
.choose-products .choose-products-content-box-text {padding: 20px 0px;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 20px;}
.choose-products .choose-products-content .choose-products-content-box-text ul {margin-top: 8px;}
.choose-products .choose-products-content .price li del {font-size: 14px;}
.choose-products .choose-products-content .price li {font-size: 16px;padding: 0 10px 0 0px !important;}
.testimonial .testi-box h3 {font-size: 22px;}
.testimonial .testi-box h5 {margin-top: 14px;}
.testimonial .testi-box h6 {margin-top: 5px;}
.footer-content.footer-contact-form .custom-para {padding: 0 60px;}
.footer-content.footer-contact-form .custom-button.form-btn {width: 9%;margin-left: 16px;}
.footer-content.footer-contact-form .custom-button.form-btn::after {top: 17px !important;}
.footer-wrap .footer-content .custom-para {padding-right: 20px;}
.footer-content img {height: 40px;}
.brand .brand-box {padding: 65px 30px;margin-bottom: 15px;}
.testimonial .testi-content {margin-top: 90px;text-align: center;}
.testimonial-carousel .owl-prev {bottom: -50px;left: 0px;right: 70px;margin: 0 auto;}
.testimonial-carousel .owl-next {top: auto;bottom: -50px;left: 70px;right: 0;margin: 0 auto;}
.brand .brand-content-2 {margin-top: 0px;}
.footer-content {text-align: center;}
.footer-content.footer-contact-form {padding: 50px 0;}
.brand .brand-box {height: 160px;}
.brand .container.modify {padding: 0 15px;}
.testimonial.custom-pad .testi-content .custom-heading {text-align: center;padding-right: 0;}
.choose-products.products-section.custom-pad {padding: 80px 0 80px;}
.choose-products.custom-pad {padding: 60px 0px 0;}
.brand.custom-pad {padding-bottom: 60px;padding-top: 60px;}
.reviews-home::before {top: -53%;}
.review-home-content h5 {font-size: 18px;padding: 22px 0;}
.review-img img {width: 85%;object-fit: cover;}
.review-img {margin-top: 40px;text-align: center;}
.custom-list-extra {display: block;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {padding-right: 7px;padding-left: 7px;}
.header-nav .nav-item.active .nav-link {font-size: 24px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 20px;}
.custom-header .navbar-light .navbar-toggler-icon {background-image: url(../images/menu.webp);}
.profile-actions .nav-item .nav-link {font-size: 14px !important;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 18px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 10px 0;font-size: 14px !important;}
.custom-header .add-padding {padding: 20px 0 35px !important;}
.custom-header .navbar-collapse {margin-top: 30px;}
.custom-header .megamenu .dropdown-menu .bg-white {background-color: var(--c-primary) !important;}
.custom-header .megamenu-wrap {justify-content: left;flex-direction: column;}
.custom-banner_content {justify-content: center;}
.custom-header .header-nav {padding: 10px 0;/*background-color: var(--c-primary);*/}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {top: 59px;}
.custom-about.custom-pad {position: relative;}
.about-button-wrap {position: absolute;bottom: 80px;left: 82px;}
.choose-products-2 {display: none;}
.choose-products-1 {display: block;}
.choose-products-3 {display: none;}
.choose-products-4 {display: block;}
.custom-our-category.custom-pad {margin-bottom: 110px;}
.choose-products .choose-product-btn {display: block;text-align: center;margin: 42px 0 64px;}
.footer-content.support ul {margin-top: 20px;}
.footer-content.support ul li {padding-bottom: 10px;}
.reviews-home.custom-pad {padding: 80px 0;}
.custom-header .navbar-toggler {background-color: var(--c-secondary);}
.custom-header .navbar-toggler-icon {width: 23px;height: 23px;background-position: center center;}
.megamenu-section {padding-bottom: 20px;}
.custom-header .navbar-nav .dropdown-menu {position: static !important;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {border-bottom: 1px solid var(--c-text-tertiary);}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu::before {display: none;}
.about-inner.our-mission-content .custom-para {padding-right: 10px;margin-top: 10px;}
.about-inner-service-wrap {padding: 0 0px;}
.about-inner-service-content h4 {font-size: 20px;}
.about-inner.our-mission-content {padding-left: 55px;}
.about-inner-service-box {padding: 60px 0px;}
.about-inner-service-box.first::after {left: 195px;}
.about-inner-service-box.second::after {left: 185px;}
.about-inner-service.custom-pad::before {top: -90px;}
.about-inner-service-box.third::after {left: 185px;}
.about-inner.our-mission-content {padding-left: 0px;margin-top: 40px;text-align: center;}
.about-inner.our-mission-content-heading {margin-top: 30px;}
.about-inner.our-mission-content h3 {font-size: 24px;}
.custom-about.about-inner.custom-pad {padding-bottom: 0;}
.about-inner-service-box.third {margin-top: 25px;}
.about-inner-service-wrap .container {padding: 0 0;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 80px;flex-direction: column;}
.testimonial-wrap .short-title h5 {font-size: 24px;width: 40%;line-height: 38px;padding-bottom: 20px;}
.testimonial-wrap .text p {font-size: 14px;line-height: 28px;}
.inner-testimonial .custom-heading {padding-bottom:55px;width: 28%;}
.testimonials > :nth-child(2n) .content {left: 120px;}
.testimonial-wrap .image .target {width: 448px;height: 448px;}
.testimonial-wrap .image::after {width: 70%;right: -115px;}
.testimonial-wrap .user p {font-size: 18px;}
.testimonial-wrap .user {padding-top: 20px;}
.testimonial-wrap .image {margin-top: 50px;}
.testimonial-wrap.d-flex.align-items-center {flex-direction: column;}
.testimonials > :nth-child(2n) .content {left: 0px;}
.about-inner.our-mission-img img {height: auto;}
.inner-contact .custom-paragraph {padding-bottom: 45px;}
.inner-contact .custom-paragraph p {font-size: 14px;width: 88%;line-height: 28px;padding-top: 14px;}
.contact-card {min-height: 238px;margin: 0;}
.contact-card img {height: 50px;width: 50px;}
.contact-card .image-wrap::before {left: 20px;top: 5px;}
.inner-contact .row [class*="col-"]:not(:last-child) .contact-card {margin-bottom: 32px;}
.contact-card h4 {font-size: 18px;line-height: 46px;margin: 17px 0 0px;}
.contact-card a {font-size: 12px;line-height: 22px;}
.form-control-wrapper input, .form-control-wrapper textarea {height: 55px;font-size: 14px;}
.form-control-wrapper {padding-bottom: 15px;}
.form-control-wrapper textarea {height: 165px !important;padding-top: 15px;}
.contact-form-container .custom-button {font-size: 16px;height: 55px;}
.custom-google-map .map {padding-bottom: 0px;height: 405px;}
.product-listing-sort {padding-bottom: 30px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-img a img {height: 350px;}
.faq .custom-para {padding-right: 150px;font-size: 12px;margin-top: 16px;}
.faq {padding: 60px 0px;}
.faq .accordion-button {padding: 25px 0px 25px 70px;font-size: 18px;}
.faq .accordion-body {font-size: 13px;padding: 10px 40px 10px 70px;}
.faq .accordion-wrap {margin-top: 40px;}
.tc {padding: 70px 0;}
.tc-wrap h3 {margin-bottom: 15px;font-size: 20px;}
.tc-wrap .heading-margin-top {margin-top: 30px;}
.tc-wrap .custom-para {font-size: 12px;line-height: 26px;}
.tc-wrap .custom-tc-list li {font-size: 12px;padding: 0px 0px 12px;}
.tc-wrap {padding-right: 40px;}

.inner-contact .custom-paragraph {padding-bottom: 45px;}
.inner-contact .custom-paragraph p {font-size: 14px;width: 88%;line-height: 28px;padding-top: 14px;}
.contact-card {min-height: 238px;margin: 0;}
.contact-card img {height: 50px;width: 50px;}
.contact-card .image-wrap::before {left: 20px;top: 5px;}
.inner-contact .row [class*="col-"]:not(:last-child) .contact-card {margin-bottom: 32px;}
.contact-card h4 {font-size: 18px;line-height: 46px;margin: 17px 0 0px;}
.contact-card a {font-size: 12px;line-height: 22px;}
.form-control-wrapper input, .form-control-wrapper textarea {height: 55px;font-size: 14px;}
.form-control-wrapper {padding-bottom: 15px;}
.form-control-wrapper textarea {height: 165px !important;padding-top: 15px;}
.contact-form-container .custom-button {font-size: 16px;height: 55px;}
.custom-google-map .map {padding-bottom: 0px;height: 405px;}
.product-listing-sort {padding-bottom: 30px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-img a img {height: 350px;}
.inner-product-details .bottom {padding: 15px 0 20px;}
.product-details-top.custom-pad {padding: 50px 0;}
.inner-product-details .right {padding-left: 0px;padding-top: 20px;}
.inner-product-details {margin-top: 99px;}
.inner-product-details #big .owl-item img {height: 460px;}
.inner-product-details .right .breadcrumb-item {font-size: 15px;}
.inner-product-details .right .product-title {font-size: 35px;padding: 5px 0 3px;}
.inner-product-details .right .product-name {padding-bottom: 12px;}
.product-interaction {padding: 12px 0 20px;}
.product-add-to-cart {gap: 0 10px;margin-top: 12px;}
.product-other-details {gap: 12px 0;padding-top: 14px;}
.inner-product-details .bottom .tab-content {padding-top: 30px;}
.inner-product-details #big {margin-bottom: 14px;}
}

@media (max-width: 767.98px){
.header-top_content h4 {font-size: 15px;padding: 6px 0;}      
.custom-banner .banner-bottom-pattern {bottom: -41px;}
.custom-banner_content .content .heading {font-size: 40px;}
.custom-banner_content .content .heading {padding: 12px 20px 10px;}
.featured-product .product-img-b img {height: 220px;width: 160px;border-radius: 20px;}
.product-category::before {border-radius: 20px;}
.category-carousel .owl-nav {margin-top: 30px;}
.custom-banner_content {gap: 0px 47px;}
.product-img-b .product-b-details .title {font-size: 16px;}
.product-img-b .product-b-details .price {font-size: 12px;}
.banner-button-wrap {margin-top: 20px;}
.about-right-carousel .owl-nav {width: 73%;}
.custom-banner .d-block.w-100 {height: 370px;width: 100% !important;object-fit: cover;}
.profile-actions.actions-2.navbar-nav {margin-left: 10%;}
.custom-about.custom-pad::before {top: -52.9%;}
.custom-about.custom-pad {padding: 50px 0;}
.product-category-content {bottom: 30px;left: 25px;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 35px !important;line-height: 30px !important;}
.custom-inner-banner nav .breadcrumb {font-size: 13px !important;line-height: 24px !important;}
.custom-button {padding: 0px 0 0 12px;height: 44px;gap: 0 6px;}
.custom-button span {width: 38px;}
.custom-heading h2 {font-size: 32px;margin-top: 4px;}
.custom-heading h5 {font-size: 15px;}
.custom-pad {padding: 50px 0;}
.about-right::after {top: -118px;right: 120px;}
.choose-products .choose-products-content-box-text {text-align: center;}
.choose-products .choose-products-content .choose-products-content-box-text ul {justify-content: center;}
.testimonial .testimonial-carousel {padding: 0 0px 0 4px;}
.testimonial .testi-content {text-align: center;}
.testimonial.custom-pad .testi-content .custom-heading {text-align: center;padding-right: 0px;}
.copyright-content {padding-bottom: 15px;}
.copyright-brands {padding-bottom: 0px;}
.footer-content.footer-contact-form {padding: 40px 0;}
.footer-content.support ul li {padding-bottom: 5px;}
.testimonial .testi-content {margin-top: 80px;}
.copyright-content {text-align: center;}
.copyright-brands ul {justify-content: center;}
.copyright-brands {margin-top: 5px;padding-bottom: 20px;}
.choose-products.products-section.custom-pad {padding: 80px 0 80px;}
.choose-products.custom-pad {padding: 60px 0px 0;}
.brand.custom-pad {padding-bottom: 50px;padding-top: 50px;}
.review-home-content .custom-heading {text-align: left;}
.review-home-content h5 {font-size: 16px;padding: 18px 0;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 42px;}
.footer-content.support ul {margin-top: 20px;}
.custom-about.custom-pad {padding: 50px 0 40px 0;}
.custom-banner .featured-product {display: none;}
.choose-products .choose-products-content .choose-products-content-box-text h4 {font-size: 17px;}
.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {width: 30px;height: 30px;font-size: 18px !important;}
.custom-our-category.custom-pad {margin-bottom: 100px;}
.copyright-content {margin-top: 40px;}
.footer-content.footer-contact-form .custom-button.form-btn::after {top: 16px !important;}
.about-inner-service-box.second {margin-top: 25px;}
.about-inner-service-box.first::after {left: 295px;width: 13%;}
.about-inner-service-box.second::after {left: 285px;width: 13%;}
.about-inner-service-box.third::after {left: 285px;width: 13%;}
.about-inner.our-mission-content {text-align: center;margin-top: 30px;}
.about-inner.our-mission-content-heading {margin-top: 20px;}
.inner-testimonial .custom-heading {padding-bottom: 45px;width: 36%;}
.testimonial-wrap .short-title h5 {font-size: 18px;width: 30%;line-height: 28px;}
.testimonial-wrap .text p {font-size: 12px;line-height: 25px;}
.testimonial-wrap .image::before {width: 80%;height: 70%;left: -70px;}
.testimonial-wrap .image::after {width: 50%;top: 60%;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 60px;}
.testimonial-wrap .image .target {width: 408px;height: 408px;}
.testimonial-wrap .image {margin-top: 40px;}
.inner-contact .custom-paragraph p {font-size: 12px;width: 88%;line-height: 25px;}
.contact-card {min-height: 228px;}
.form-control-wrapper {padding-bottom: 12px;}
.form-control-wrapper input, .form-control-wrapper textarea {font-size: 11px;}
.custom-google-map .map {height: 365px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-img a img {height: 254px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-text ul {justify-content: start;}
.custom-product-listing.choose-products .choose-products-content-box-text {text-align: left;}
.faq .custom-para {padding-right: 40px;}
.faq .accordion-button {padding: 20px 0px 20px 70px;font-size: 15px;}
.faq .accordion-body {font-size: 12px;line-height: 25px;}
.faq .accordion-button::before {width: 30px;height: 30px;left: 15px;}
.tc-wrap .custom-para.alt {margin-top: 0px;}
.tc-wrap {padding-right: 0px;}
.tc-wrap .custom-tc-list li span {height: 15px;width: 15px;margin-right: 5px;font-size: 8px;position: absolute;left: 0;}
.tc-wrap .custom-tc-list li {position: relative;padding-left: 25px;}
.tc-wrap .custom-tc-list li:last-child {position: relative;padding-left: 25px;}
.tc-wrap h3 {font-size: 15px;}

.inner-contact .custom-paragraph p {font-size: 12px;width: 88%;line-height: 25px;}
.contact-card {min-height: 228px;}
.form-control-wrapper {padding-bottom: 12px;}
.form-control-wrapper input, .form-control-wrapper textarea {font-size: 11px;}
.custom-google-map .map {height: 365px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-img a img {height: 254px;}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box-text ul {justify-content: start;}
.custom-product-listing.choose-products .choose-products-content-box-text {text-align: left;}
.product-details-top.custom-pad {padding: 40px 0;}

.inner-product-details #big .owl-item img {height: auto;}
.inner-product-details #big {margin-bottom: 10px;}
}

@media (max-width: 575.98px){
.header-top_content h4 {font-size: 14px;padding: 5px 0;}    
.custom-banner .banner-bottom-pattern {bottom: -43px;}
.featured-product {display: none;}
.custom-banner_content {justify-content: center;}
.custom-banner .d-block.w-100 {height: 300px;}
.about-left .custom-heading {width: 100%;}
.about-left .custom-paragraph {padding-right: 0;}
.about-button-wrap {text-align: center;}
.about-right-carousel {margin-top: 50px;}
.custom-header .header-nav .navbar-brand.ms-0.py-0 img {width: 60%;}
.custom-our-category.custom-pad {padding: 40px 0 0;}
.brand .brand-box {height: auto;}
.profile-actions.actions-2.navbar-nav {display: none;}
.custom-about.custom-pad::before {top: -52.7%;}
.custom-about.custom-pad {padding: 40px 0;}
.custom-inner-banner .inner-banner-heading h1 {font-size: 26px !important;line-height: 25px !important;}
.custom-inner-banner nav .breadcrumb {font-size: 12px !important;line-height: 22px !important;}
.inner-banner-pattern {bottom: -5px !important;}
.custom-pad {padding: 30px 0;}
.custom-heading h2 {font-size: 22px;margin-top: 4px;}
.custom-heading h5 {font-size: 14px;}
.custom-pad {padding: 40px 0;}
.custom-banner_content .content .heading {padding: 5px 20px 5px;font-size: 30px;}
.custom-our-category.custom-pad {margin-bottom: 40px;}
.about-right::after {top: -94px;right: 100px;}
.custom-inner-banner {background-position: 65% 0;}
.testimonial .testimonial-carousel {padding: 0 0px 0 0px;}
.footer-content.footer-contact-form .custom-para {padding: 0 0px;}
.footer-wrap .footer-content .custom-para {padding-right: 0px;}
.footer-content.footer-contact-form .footer-email-form .form-control {width: 80%;}
.footer-content.footer-contact-form .custom-button.form-btn {width: 17%;margin-left: 6px;}
.choose-products.products-section.custom-pad {padding: 40px 0 40px;}
.choose-products.custom-pad {padding: 40px 0px 0;}
.brand.custom-pad {padding-bottom: 40px;padding-top: 40px;}
.testimonial.custom-pad .testi-content .testi-btn {margin-top: 20px;}
.reviews-home::before {top: -52%;}
.custom-list li {padding: 0 0 10px 30px;}
.footer-wrap .footer-content .custom-para {line-height: 24px;font-size: 13px;margin: 14px 0 18px;}
.custom-about.custom-pad {padding: 40px 0 40px 0;}
.custom-banner_content .content .heading {padding: 4px 20px 4px;}
.custom-our-category.custom-pad .custom-heading {margin-bottom: 22px;}
.custom-banner_content .content .heading {font-size: 30px;}
.review-home-content {padding: 0 0px 0 0px;}
.choose-products .choose-products-content {margin-top: 15px;}
.choose-products.products-section .product-btn {margin-top: 5px;}
.about-right-carousel .owl-nav {width: 90%;top: 37%;}
.about-button-wrap {bottom: 70px;left: 15px;}
.choose-products .choose-product-btn {margin: 4px 0 24px;}
.reviews-home.custom-pad {padding: 40px 0;}
.custom-our-category.custom-pad {margin-bottom: 40px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 18px;}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {font-size: 15px;padding: 0 0 5px 0;}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {padding: 10px 0;font-size: 12px !important;}
.about-right .about-right-carousel .about-right-image .target {width: 90%;}
.custom-header .profile-actions .nav-item .nav-link span {font-size: 26px;}
.about-right-carousel .owl-nav .owl-next {top: 17px;}
.about-inner-service-box.second {margin-top: 25px;}
.about-inner-service-box.first::after {left: 235px;width: 18%;}
.about-inner-service-box.second::after {left: 235px;width: 18%;}
.about-inner-service-box.third::after {left: 235px;width: 18%;}
.inner-testimonial .custom-heading {padding-bottom: 30px;width: 46%;}
.testimonial-wrap .short-title h5 {width: 50%;font-size: 16px;line-height: 24px;}
.testimonial-wrap .text {padding-left: 15px;margin-left: 13px;}
.testimonial-wrap .text p {line-height: 20px;width: 100%;}
.testimonial-wrap .user p {font-size: 14px;}
.testimonial-wrap .user {padding-top: 10px;}
.testimonial-wrap .image .target {width: 248px;height: auto;}
.testimonial-wrap .image::after {right: -65px;}
.testimonial-wrap .image::before {left: -40px;}
.testimonials .testimonial-wrap:not(:last-child) {margin-bottom: 35px;}
.testimonial-wrap .image {margin-top: 20px;}
.contact-card a {width: 95%;}
.inner-contact .custom-paragraph p {width: 100%;line-height: 20px;}
.inner-contact .custom-paragraph {padding-bottom: 30px;}
.form-control-wrapper input, .form-control-wrapper textarea {height: 45px;padding-left: 15px;}
.contact-form-container .custom-button {font-size: 15px;height: 45px;}
.faq .custom-para {padding-right: 0px;}
.faq .accordion-button {padding: 15px 0px 15px 55px;}
.faq .accordion-body {padding: 10px 10px 10px 55px;}
.faq {padding: 40px 0px;}
.faq .accordion-wrap {margin-top: 30px;}
.tc {padding: 50px 0;}
.tc-wrap h3 {margin-bottom: 5px;}
.tc-wrap .heading-margin-top {margin-top: 20px;}

.contact-card a {width: 95%;}
.inner-contact .custom-paragraph p {width: 100%;line-height: 20px;}
.inner-contact .custom-paragraph {padding-bottom: 30px;}
.form-control-wrapper input, .form-control-wrapper textarea {height: 45px;padding-left: 15px;}
.contact-form-container .custom-button {font-size: 15px;height: 45px;}
.product-details-top.custom-pad {padding: 30px 0;}

.inner-product-details .right .breadcrumb-item {font-size: 11px;}
.inner-product-details .right .product-title {font-size: 22px;}
.custom-round-button {background-color: var(--c-primary-shade);height: 38px;font-size: 15px;}
.buy-now.custom-round-button {margin-top: 12px;}
.product-add-to-cart .quantity {height: 38px;}
.inner-product-details .bottom .nav-tabs .nav-link {font-size: 16px;padding: 3px 0;margin: 0 10px}
.inner-product-details .bottom .tab-content .tab-pane p {font-size: 12px;line-height: 25px;text-align: center;}
}
@media (max-width: 479.98px) {
.custom-banner .banner-bottom-pattern {bottom: -44px;}
.custom-about.custom-pad::before {top: -52.4%;}
.about-right::after {top: -84px;right: 90px;}
.about-inner-service-box.first::after {left: 205px;width: 18%;}
.about-inner-service-box.second::after {left: 205px;width: 18%;}
.about-inner-service-box.third::after {left: 205px;width: 18%;}
.about-button-wrap {bottom: 50px;}
}
@media (max-width: 389.98px) {
.custom-banner .banner-bottom-pattern {bottom: -45px;}
.custom-header .navbar-brand {margin-right: 0rem;}
.custom-list li {font-size: 14px;}
.about-right-carousel .owl-nav .owl-prev {font-size: 20px !important;}
.about-right-carousel .owl-nav .owl-next {font-size: 20px !important;}
.custom-about.custom-pad::before {top: -52.2%;}
.footer-content.support ul li a {font-size: 13px;}
.about-right::after {top: -62px;right: 70px;}
.about-inner-service-box.first::after {left: 165px;width: 18%;}
.about-inner-service-box.second::after {left: 165px;width: 18%;}
.about-inner-service-box.third::after {left: 165px;width: 18%;}
}
@media (max-width: 359.98px) {
.custom-header .navbar-brand {margin-right: -2rem;}
.custom-banner .banner-bottom-pattern {bottom: -46px;}
.custom-list li {font-size: 13px;}
.about-right::after {top: -55px;right: 58px;}
.about-right-carousel .owl-nav {width: 79%;top: 36%;}
.about-button-wrap {bottom: 40px;}
}
