/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #efcfa0;
  --c-secondary: #79491e;
  --c-tertiary: #f6f6f6;
  
  --c-primary-shade: #f2cd93;
  --c-white-900: #ffffffff;
  --c-black-900: #090b0bff;
  --c-black-700: #766A59;

  --c-text-primary: #393838;
  --c-text-secondary: #3d3d3d;
  --c-text-tertiary: #8e8e8e;
  --c-text-tertiary-alt: #9d9d9d;

  --bs-breadcrumb-divider: ">>";
  
  --ff-primary: 'Baloo 2', cursive;
  --ff-secondary: 'Montserrat Alternates', sans-serif;
  --ff-tertiary: 'Bangers', cursive;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--c-text-primary);
  font-family: var(--ff-secondary);
  line-height: 31px;
  font-weight: 500;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}
.container-alt {
  max-width: 1784px;
}

/* .on-hover:hover > *:nth-child(2) {
  display: block;
}
.fixed-top  {
  background-color: var(--c-white-800) !important;
} */

/******** Custom Properties ********/
.custom-pad {
  padding: 120px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  color: var(--c-text-primary);
  /* border: 2px solid transparent; */
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 0 0 30px;
  height: 60px;
  border-radius: 5px;
  position: relative;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0 0 0 20px;
  display: inline-flex;
  align-items: center;
  height: inherit;
  width: 48px;
  justify-content: center;
  background-color: var(--c-secondary);
  border-radius: 0 5px 5px 0;
  color: var(--c-white-900);
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
/* .custom-button:hover span {
  background-color: var(--c-primary);
  color: var(--c-secondary);
} */

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.custom-heading {
  text-align: center;
}
.custom-heading h5 {
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 500;
  color: var(--c-primary);
}
.custom-heading h2 {
  font-family: var(--ff-primary);
  font-size: 55px;
  font-weight: 700;
  color: var(--c-text-primary);
  margin-top: 16px;
  text-transform: capitalize;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* header-top */
.header-top {
  background-color: var(--c-primary);
}
.header-top_content h4 {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 0;
}
/* header-nav */
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu::after {
  position: absolute;
  content: '';
  background-color: var(--c-white-900);
  width: 5000px;
  height: 100.5%;
  top: -1px;
  left: -600px;
  z-index: -1;
  }
  .custom-header .megamenu .dropdown-menu .shadow-sm {
  box-shadow: none !important;
  }
  .custom-header .navbar-expand-lg .navbar-nav .dropdown-menu::before {
  position: absolute;
  content: '';
  background-color:#d3d3d3;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 0;
  }
.megamenu {
  position: static;
}
.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.megamenu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link:hover {
  color: var(--c-secondary) !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 88px;
}
.custom-header .navbar-brand img {
  width: 80%;
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 32px;
  padding-left: 32px;
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary);
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--c-secondary);
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {
  padding: 20px 0;
  color: var(--c-text-secondary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: var(--ff-secondary) !important;
}
.profile-actions.navbar-nav .nav-item .nav-link {
  padding: 0 13px;
}
.custom-header .dropdown-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.custom-header .dropdown-wrap .list-group.list-group-flush p {
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary) !important;
}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary) !important;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 10px 0;
}
.custom-header .add-padding {
  padding: 20px 0 50px !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  border-radius: 0;
}
.custom-header .dropdown-wrap .list-group-item.list-group-item-action {
  font-family: var(--ff-secondary);
  font-size: 14px;
  font-weight: 500;
  color: var(--c-text-secondary);
  position: relative;
}
.custom-header .dropdown-wrap .list-group.list-group-flush p::after {
  position: absolute;
  content: '';
  background-color: var(--c-text-tertiary-alt);
  width: 160px;
  height: 1px;
  top: 40px;
  left: 17px;
}
.custom-header .dropdown-wrap .list-group-item {
  border: 1px solid transparent;
}
.custom-header .header-nav .profile-action-2 {
  display: none;
}
.custom-header .header-nav .navbar-toggler.collapsed {
  background-color: var(--c-secondary);
}
.header-nav {
  padding: 28px 0;
  box-shadow: 0px 5px 0px rgba(0,0,0,0.025);
}
.header-nav .nav-item.active .nav-link {
  color: var(--c-secondary);
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
}
.custom-navbar-nav {
  gap: 0 40px;
}
.custom-navbar-nav .nav-item .nav-link {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.custom-navbar-nav .nav-item .nav-link:hover {
  color: var(--c-secondary);
}
.profile-actions  {
  gap: 0 0px;
}
.profile-actions .nav-item .nav-link {
  display: inline-flex;
  align-items: center;
  padding: 0;
  line-height: 26px;
  gap: 0 5px;
  color: var(--c-text-primary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: var(--ff-secondary) !important;
}

.profile-actions .nav-item .nav-link span {
  color: var(--c-text-primary);
  display: inline-flex;
  font-size: 28px;
  align-items: center;
}
.profile-actions.actions-2.navbar-nav {
  display: none;
}

/* *************** Header Section End *************** */

/* *************** <add section name> Section Start *************** */
/*Banner*/
.custom-banner {
  position: relative;
}
.custom-banner .banner-bottom-pattern {
  z-index: 99;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 62px;
  z-index: 0;
}
.custom-banner .banner-bottom-pattern img {
  width: 100%;
}
.custom-banner_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  gap: 0 120px;
}
/*.custom-banner_content .content {
  transform: rotate(0deg);
}*/
.custom-banner_content .content .heading {
  font-family: var(--ff-tertiary);
  font-size: 82px;
  line-height: 74px;
  letter-spacing: 6.8px;
  background-color: var(--c-secondary);
  padding: 23px 58px 13px;
  width: fit-content;
  text-align: center;
  margin: 0 auto 24px;
}
.custom-banner_content .content .sub-heading {
  font-size: 75px;
  letter-spacing: 4.58px;
}
.banner-button-wrap {
  margin-top: 60px;
}
.featured-product {
  position: relative;
}
.featured-product .product-img-b img {
  width: 292px;
  height: 419px;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid;
}
.product-img-b {
  display: inline-flex;
  align-items: center;
  color: var(--c-white-900) !important;
}
.product-img-b .product-b-details {
  position: absolute;
  top: -80px;
  left: -55px;
  display: flex;
  flex-direction: column;
  /* gap: 15px 0; */
}
.product-img-b .product-b-details .title {
  font-size: 22px;
  color: var(--c-text-primary);
  font-weight: 600;
  line-height: 66px;
  text-transform: capitalize;
}
.product-img-b .product-b-details .price {
  background-color: var(--c-white-900);
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff-secondary);
  border-radius: 4px;
  padding: 8px 36px;
}
.banner-pattern {
  position: absolute;
  left: -220px;
  top: -110px;
}
/*Category*/
/*.category-carousel .item {
   margin: 0 17px;
}*/
.category-carousel .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 52px;
}
.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--c-secondary) !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--c-secondary) !important;
  font-size: 24px !important;
}

.product-category {
  position: relative;
}
.product-category::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  top: 0;
  left: 0;
  border-radius: 30px;
}
.product-category .main-img   {
  border-radius: 30px;
}
.product-category-content {
  position: absolute;
  bottom: 52px;
  left: 55px;
}
.product-category-content .icon img {
  width: 61px;
  height: 61px;
  object-fit: contain;
}
.product-category-content .product-category-title h5 {
  color: var(--c-white-900);
  font-size: 27px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 3px;
}
.product-category-button-wrap .custom-button {
  height: 44px;
  font-size: 13px;
  padding: 0 0 0 22px;
}
.product-category-button-wrap .custom-button span {
  margin: 0 0 0 12px;
  width: 44px;
}
.custom-our-category.custom-pad .custom-heading {
  text-align: center;
  margin-bottom: 72px;
}
.custom-our-category.custom-pad {
  margin-bottom: 135px;
}
/*Reviews*/
.reviews-home {
  background-color: #f8f8f8;
  position: relative;
  padding: 60px 0 155px 0;
}
.reviews-home::before {
  position: absolute;
  content: '';
  background-image: url(../images/about-bg.webp);
  width: 100%;
  height: 100%;
  top: -60%;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.review-home-content .custom-heading {
  text-align: left;
}
.review-home-content h5 {
  color: var(--c-text-primary);
  font-weight: 500;
  font-size: 23px;
  padding: 45px 0;
}
/*Products*/
.choose-products.products-section.custom-pad .choose-products-content-box {
  height: 525px;
}
.choose-products.products-section.custom-pad {
  padding: 120px 0 140px;
}
.choose-products.products-section .product-btn {
  text-align: center;
  margin-top: 50px;
}
.choose-products-content-box-img {
  overflow: hidden;
}
.choose-products .choose-products-content .choose-products-content-box-img:hover a img {
  transform: scale(1.08);
}
/*About*/
.custom-about.custom-pad {
  background-color: #f9f6ef;
}
.about-left .custom-heading {
  text-align: left;
  width: 50%;
}
.custom-list {
  margin-top: 35px;
}
.about-left .custom-paragraph {
  margin-top: 8px;
}
.about-button-wrap {
  margin-top: 38px;
}
.custom-list li {
  position: relative;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 600;
  color: var(--c-text-primary);
  padding: 0 0 15px 35px;
}
.custom-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: -3px;
  color: var(--c-secondary);
}
.about-right {
  position: relative;
}
.about-right::after {
  position: absolute;
  content: '';
  background-image: url(../images/about-pattern.webp);
  width: 54%;
  top: -95px;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 100px;
}
.about-right-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about-right-carousel .owl-nav .owl-prev  {
  font-size: 30px !important;
}
.about-right-carousel .owl-nav .owl-next {
  top: 27px;
  position: absolute;
  right: 0;
  font-size: 30px !important;
}
.about-right .about-right-carousel .about-right-image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-mask.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
.about-right .about-right-carousel .about-right-image .target {
  display: block;
  width: 590px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
/*Choose-Products*/
.choose-products .choose-product-btn {
  display: none;
  }
  .choose-products .choose-products-content .choose-products-content-box-img a img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  }
  .choose-products .choose-products-content .choose-products-content-box-text ul {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 12px;
  }
  .choose-products .choose-products-content .choose-products-content-box {
  height: 585px;
  }
  .choose-products .choose-products-content .choose-products-content-box-text h4 {
  font-family: var(--ff-primary);
  font-size: 22px;
  font-weight: 600;
  color: var(--c-text-primary);
  }
  .choose-products .choose-products-content .choose-products-content-box-text ul li {
  color: #ffc107;
  padding: 0 4px 0 0;
  }
  .choose-products .choose-products-content .choose-products-content-box-text ul li:last-child h6 {
  color: var(--c-text-primary);
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: 13px;
  padding-left: 5px;
  }
  .choose-products .choose-products-content .price li {
  padding: 0 20px 0 0px !important;
  font-family: var(--ff-secondary);
  font-size: 23px;
  font-weight: 600;
  color: var(--c-secondary) !important;
  }
  .choose-products .choose-products-content .price li del {
  color: var(--c-text-tertiary);
  font-family: var(--ff-secondary);
  font-size: 17px;
  font-weight: 600;
  }
  .choose-products .choose-products-content-box-text {
  padding: 40px 0px;
  }
  .choose-products.custom-pad {
  padding: 120px 0px 0;
  }
  .choose-products .choose-products-content {
  margin-top: 68px;
  }
  /*Footer*/
.footer-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 0;
  }
  .footer-wrap .footer-content h5 {
  margin-top: 35px;
  }
  .footer-wrap .footer-content .custom-para {
  line-height: 27px;
  margin: 22px 0 26px;
  font-size: 14px;
  padding-right: 90px;
  }
  .footer-wrap .footer-content .footer-mail span {
  background-color: var(--c-secondary);
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--c-white-900);
  border-radius: 50px;
  margin-right: 10px;
  font-size: 18px;
  }
  .footer-wrap .footer-content .footer-mail {
  text-decoration: none;
  color: var(--c-text-secondary);
  font-family: var(--ff-secondary);
  font-size: 14px;
  font-weight: 500;
  }
  .footer-content.footer-contact-form {
  text-align: center;
  }
  .footer-content.footer-contact-form h4 {
  font-family: var(--ff-primary);
  font-size: 29px;
  font-weight: 600;
  color: var(--c-text-primary);
  }
  .footer-content.footer-contact-form .custom-para {
  padding: 0 160px;
  margin: 16px !important;
  }
  .footer-content.footer-contact-form .footer-email-form .mb-3.footer-email {
  display: flex;
  justify-content: center;
  }
  .footer-content.footer-contact-form .footer-email-form .mb-3.footer-email .form-control::placeholder {
  font-family: var(--ff-secondary);
  font-size: 12px;
  color: var(--c-text-tertiary) !important;
  font-weight: 500;
  }
  .footer-content.footer-contact-form .footer-email-form {
  margin-top: 26px;
  }
  .footer-content.footer-contact-form .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  }
  .footer-content.footer-contact-form .footer-social li {
  padding: 0 10px;
  }
  .footer-content.footer-contact-form .footer-social li a {
  text-decoration: none;
  color: var(--c-secondary);
  font-size: 16px;
  background-color: var(--c-white-900);
  height: 35px;
  width: 35px;
  line-height: 37px;
  border-radius: 5px;
  display: inline-block;
  }
  .footer-content.support h5 {
  margin-top: 0;
  }
  .footer-content.support ul {
  margin-top: 30px;
  }
  .footer-content.support ul li {
  padding-bottom: 15px;
  }
  .footer-content.support ul li:last-child {
  padding-bottom: 0px;
  }
  .footer-content.support ul li a {
  text-decoration: none;
  font-family: var(--ff-secondary);
  font-size: 14px;
  font-weight: 500;
  color: var(--c-text-primary);
  }
  .footer-content.support ul li a:hover {
  color: var(--c-secondary);
  }
  .footer-content.support {
  margin-left: 200px;
  }
  .copyright-brands ul {
  display: flex;
  justify-content: end;
  align-items: center;
  }
  .copyright-brands ul li {
  padding: 0 0 0 15px;
  align-items: center;
  display: inline-flex;
  }
  .copyright-content {
  margin-top: 65px;
  padding-bottom: 40px;
  }
  .copyright-brands {
  margin-top: 65px;
  padding-bottom: 40px;
  }
  .footer-content.footer-contact-form .custom-button.form-btn::after {
  position: absolute;
  content: '';
  background-image: url(../images/arrow.webp);
  width: 100%;
  top: 17px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  }
  .footer-content.footer-contact-form .custom-button.form-btn {
  position: relative;
  width: 9%;
  height: 49px;
  margin-left: 26px;
  border-radius: 0;
  background-color: var(--c-secondary);
  transition: all 0.3s ease-in-out;
  }
  .footer-content.footer-contact-form .custom-button.form-btn:hover {
  background-color: var(--c-primary);
  cursor: pointer;
  }
  .footer-content.footer-contact-form .footer-email-form .form-control {
  width: 54%;
  border-radius: 0;
  height: 49px;
  }

  .custom-list-extra {
    display: none;
  }
/******Inner banner*******/
.custom-inner-banner {
  padding: 134px 0 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.custom-inner-banner .inner-banner-heading {
  text-align: center;
  padding-bottom: 20px;
}
.custom-inner-banner .inner-banner-heading h1 {
  text-align: center;
  font-family: var(--ff-tertiary);
  font-size: 78px;
  line-height: 76px;
  font-weight: 400;
  letter-spacing: 6px;
  color: #0e2037;
  text-transform: uppercase;
}
.custom-inner-banner nav .breadcrumb {
  justify-content: center;
  font-size: 17px;
  font-family: var(--ff-secondary);
  line-height: 31px;
  color: var(--c-text-secondary);
}
.custom-inner-banner .breadcrumb-item a, .custom-inner-banner .breadcrumb-item.active {
  color: var(--c-text-secondary);
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 5px;
  color: var(--c-text-secondary) !important;
  top: 54%;
  position: relative;
  transform: translateY(-50%);
}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item {
  padding-left: 5px;
}
.inner-banner-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.inner-banner-pattern img {
  width: 100%;
}
/* *************** <add section name> Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* Inner Page Start *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
/*About-Us*/
.custom-about.about-inner.custom-pad::before {
  display: none;
  }
  .custom-about.about-inner.custom-pad {
  background-color: transparent;
  }
  .about-inner-service.custom-pad {
  background-color: #f9f6ef;
  position: relative;
  }
  .about-inner-service.custom-pad::before {
  position: absolute;
  content: '';
  background-image: url(../images/about-inner-service-pattern.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 87%;
  top: 0;
  left: -25%;
  z-index: 1;
  }
  .about-inner-service-box {
  text-align: center;
  background-color: var(--c-white-900);
  padding: 70px 0px;
  border-radius: 10px;
  }
  .about-inner-service-wrap {
  padding: 0 105px;
  position: relative;
  z-index: 2;
  }
  .about-inner-service-content h4 {
  font-family: var(--ff-primary);
  font-size: 26px;
  font-weight: 700;
  color: var(--c-text-primary);
  margin-top: 35px;
  }
  .about-inner-service-box.first {
  position: relative;
  }
  .about-inner-service-box.first::after {
  position: absolute;
  content: '';
  background-image: url(../images/fast&free-pattern.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 100%;
  top: -30px;
  left: 195px;
  z-index: 1;
  }
  .about-inner-service-box.second {
  position: relative;
  }
  .about-inner-service-box.second::after {
  position: absolute;
  content: '';
  background-image: url(../images/money-pattern.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 100%;
  top: -30px;
  left: 185px;
  z-index: 1;
  }
  .about-inner-service-box.third {
  position: relative;
  }
  .about-inner-service-box.third::after {
  position: absolute;
  content: '';
  background-image: url(../images/help-center-pattern.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 100%;
  top: -30px;
  left: 185px;
  z-index: 1;
  }
  .about-inner.our-mission-img img {
  width: 100%;
  object-fit: cover;
  height: 509px;
  }
  .about-inner.our-mission-content {
  padding-left: 75px;
  }
  .about-inner.our-mission-content .custom-para {
  margin-top: 16px;
  padding-right: 30px;
  }
  .about-inner.our-mission-content h3 {
  font-family: var(--ff-primary);
  font-size: 28px;
  font-weight: 700;
  color: var(--c-text-primary);
  }
  .about-inner.our-mission-content-heading {
  margin-top: 50px;
  }
  .our-mission {
  background-color: #f9f6ef;
  }
  .inner-testimonial .custom-heading {
  padding-bottom: 100px;
  width: 27%;
  margin: 0 auto;
  }
  .testimonials > :nth-child(2n) {
  flex-direction: row-reverse;
  }
  .testimonials > :nth-child(2n) .content {
  position: relative;
  left: 230px;
  }
  .testimonials .testimonial-wrap:not(:last-child)  {
  margin-bottom: 200px;
  }
  .testimonial-wrap .short-title h5 {
  font-size: 50px;
  font-family: var(--ff-primary);
  font-weight: 700;
  width: 50%;
  line-height: 65px;
  padding-bottom: 40px;
  }
  .testimonial-wrap .text {
  position: relative;
  padding-left: 25px;
  margin-left: 43px;
  }
  .testimonial-wrap .text::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 75%;
  background-color: var(--c-secondary);
  left: 0;
  top: 47%;
  transform: translateY(-50%);
  }
  .testimonial-wrap .text p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: #3d3d3d;
  font-style: italic;
  width: 70%;
  }
  .testimonial-wrap .user {
  padding-top: 35px;
  }
  .testimonial-wrap .user p {
  font-family: var(--ff-primary);
  font-size: 20px;
  }
  .testimonial-wrap .image {
  position: relative;
  }
  .testimonial-wrap .image::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -140px;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background-repeat: no-repeat;
  }
  
  .testimonial-wrap .image::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  right: -395px;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background-repeat: no-repeat;
  }
  .testimonial-wrap:nth-child(3n+1) .image::after{
  background-image: url("../images/about-inner-review-image-1-pattern-right.png");
  }
  .testimonial-wrap:nth-child(3n+2) .image::after{
  background-image: url("../images/about-inner-review-image-2-pattern-right.png");
  }
  .testimonial-wrap:nth-child(3n+3) .image::after{
  background-image: url("../images/about-inner-review-image-3-pattern-right.png");
  }
  .testimonial-wrap:nth-child(3n+1) .image::before{
  background-image: url("../images/about-inner-review-image-1-pattern-left.png");
  }
  .testimonial-wrap:nth-child(3n+2) .image::before{
  background-image: url("../images/about-inner-review-image-2-pattern-left.png");
  }
  .testimonial-wrap:nth-child(3n+3) .image::before{
  background-image: url("../images/about-inner-review-image-3-pattern-left.png");
  }
  .testimonial-wrap .image .target {
  display: block;
  width: 538px;
  height: 503px;
  margin: 0 auto;
  object-fit: cover;
  }
  .testimonial-wrap .image .alpha-target {
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
  }
  .testimonial-wrap:nth-child(3n+1) .image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-inner-review-image-mask-1.png);
  }
  .testimonial-wrap:nth-child(3n+2) .image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-inner-review-image-mask-2.png);
  }
  .testimonial-wrap:nth-child(3n+3) .image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-inner-review-image-mask-3.png);
  }
  /*Inner Contact Us*/
.inner-contact .custom-paragraph p {
  font-size: 16px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 33px;
  font-weight: 500;
  padding-top: 28px;
}
.contact-card {
  background-color: var(--c-white-900);
  box-shadow: 0px 0px 15px 0px rgba(223, 223, 223, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 314px;
  margin: 0 10px;
}
.contact-card img {
  height: 70px;
  object-fit: contain;
  width: 70px;
}
.contact-card .image-wrap {
  position: relative;
}
.contact-card .image-wrap::before {
  content: '';
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  left: 28px;
  top: 7px;
}
.inner-contact .row [class*="col-"]:nth-child(1) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-location-pin-pattern.png');
}
.inner-contact .row [class*="col-"]:nth-child(2) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-call-pattern.png');
}
.inner-contact .row [class*="col-"]:nth-child(3) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-message-pattern.png');
}
.contact-card a {
  font-size: 14px;
  color: var(--c-text-secondary);
  line-height: 25px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--ff-secondary);
}
.contact-card h4 {
  font-size: 26px;
  font-weight: 700;
  color: var(--c-text-primary);
  line-height: 66px;
  margin: 17px 0 5px;
}
.form-control-wrapper input, .form-control-wrapper textarea {
  width: 100%;
  height: 79px;
  padding: 0 0 0 25px;
  background-color: #f4f4f4;
  border: 0;
  font-family: var(--ff-secondary);
  font-size: 14px;
  line-height: 25px;
  color: #3d3d3d;
}
.form-control-wrapper {
  padding-bottom: 30px;
}
.form-control-wrapper textarea {
  height: 336px;
  padding-top: 32px;
}
.contact-form-container .custom-button {
  width: 100%;
  border-radius: 0;
  font-size: 20px;
  height: 79px;
  background-color: var(--c-primary-shade);
}
.contact-form-container .custom-button:hover {
  background-color: var(--c-secondary);
}
.inner-contact .custom-paragraph {
  padding-bottom: 70px;
}
.custom-google-map .map {
  height: 570px;
  padding-bottom: 88px;
}
.custom-google-map .map iframe {
  width: 100%;
  height: 100%;
}
/*Inner Product*/
.product-listing-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.product-listing-sort .showing {
  font-size: 15px;
  font-family: var(--ff-secondary);
  line-height: 31px;
  color: #3d3d3d;
}
.product-listing-sort .col-view-thumbnails {
  display: flex;
  padding: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  align-items: center;
  gap: 0 10px;
}
.product-listing-sort .showing-select {
  font-family: var(--ff-primary);
  font-size: 17px;
  height: 41px;
  border-color: #79491e;
  color: #383838;
}
.product-listing-sort .sort {
  display: flex;
  gap: 10px;
  align-items: center;
}
.col-view-thumbnails .active img {
  filter: brightness(0) contrast(3);
}
.product-listing-sidebar .content .title h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  color: #383838;
  font-weight: 500;
  padding-bottom: 17px;
  position: relative;
}
.product-listing-sidebar .content .title h4::before {
  position: absolute;
  content: '';
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 0;
  left: 0;
}
.product-listing-sidebar .content .list li {
  padding-bottom: 19px;
}
.product-listing-sidebar .content .list li a {
  font-size: 15px;
  color: #3d3d3d;
  font-family: var(--ff-secondary);
}
.product-listing-sidebar .content .list {
  padding: 47px 0;
}
.product-listing-sidebar .content .featured-product .con-link {
  display: flex;
  align-items: start;
  gap: 0 16px;
}
.featured-product-details {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.featured-product-details .product-title {
  font-size: 16px;
  font-weight: 600;
  color: #383838;
  line-height: 15px;
}
.featured-product-details .product-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--c-secondary);
  line-height: 25px;
}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box {
  height: auto;
}
.custom-product-listing.choose-products .choose-products-content-box-text {
  padding: 40px 0px 67px;
}
.product-page-pagination .page-link {
  width: 52px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  color: #383838;
  border-color: #dedede;
  margin-right: 7px;
}
.product-page-pagination .page-link:hover, .product-page-pagination .active .page-link {
  color: #fff;
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
}
.product-listing-main .row .px-2 {
  padding: 0 11px !important;
}
 /*Faq Inner*/
 .faq {
  padding: 90px 0 115px;
}
.faq .accordion-button.collapsed::after {
    position: absolute !important;
    left: 20px !important;
    background-image: url(../images/plus.webp);background-repeat: no-repeat;
    z-index: 2;
  }
.faq .accordion-button:not(.collapsed)::after {
    position: absolute !important;
    left: 20px !important;
    background-image: url(../images/plus.webp);background-repeat: no-repeat;
    z-index: 2;
}
.faq .accordion-button::before {
    position: absolute;
    content: '';
    background-color: var(--c-secondary);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    z-index: 0;
    left: 12px;
}
.faq .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border: 1px solid rgba(0,0,0,.125);
}
.faq .accordion-button.collapsed {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px !important;
  }
.faq .accordion-item {
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.faq .accordion-button {
    padding: 30px 0px 30px 70px;
    font-family: var(--ff-primary);
    font-size: 22px;
    font-weight: 700;
    color: var(--c-text-primary) !important;
}
.faq .accordion-body {
    padding: 20px 40px 20px 70px;
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 14px;
    color: var(--c-text-secondary);
    line-height: 28px;
    border: 1px solid rgba(0,0,0,.125);
}
.faq .custom-heading {
    text-align: left;
    padding-left: 12px;
}
.faq .custom-para {
  font-size: 16px;
  color: var(--c-text-secondary);
  padding-right: 750px;
  margin-top: 26px;
  padding-left: 12px;
}
.faq .accordion-wrap {
  margin-top: 55px;
}
/***T&C/Privacy inner***/
.tc {
  padding: 120px 0;
}
.tc-wrap h3 {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 34px;
}
.tc-wrap .custom-para {
  font-size: 15px;
  color: var(--c-text-secondary);
  line-height: 38px;
}
.tc-wrap .heading-margin-top {
  margin-top: 52px;
}
.tc-wrap .custom-para.alt {
  margin-top: 18px;
}
.tc-wrap .custom-tc-list li span {
  background-color: var(--c-secondary);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  color: var(--c-white-900);
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.tc-wrap .custom-tc-list {
  padding-top: 15px;
}
.tc-wrap .custom-tc-list li {
  padding: 5px 0px;
}
.tc-wrap .custom-tc-list li {
  padding: 0px 0px 20px;
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 500;
  color: var(--c-text-secondary);
}
.tc-wrap .custom-tc-list li:last-child {
  padding: 0px 0px 0px;
}
.tc-wrap {
  padding-right: 90px;
}


/* *************** Inner Contact Start *************** */
.inner-contact .custom-paragraph p {
  font-size: 16px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 33px;
  font-weight: 500;
  padding-top: 28px;
}
.contact-card {
  background-color: var(--c-white-900);
  box-shadow: 0px 0px 15px 0px rgba(223, 223, 223, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 314px;
  margin: 0 10px;
}
.contact-card img {
  height: 70px;
  object-fit: contain;
  width: 70px;
}
.contact-card .image-wrap {
  position: relative;
}
.contact-card .image-wrap::before {
  content: '';
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  left: 28px;
  top: 7px;
}
.inner-contact .row [class*="col-"]:nth-child(1) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-location-pin-pattern.png');
}
.inner-contact .row [class*="col-"]:nth-child(2) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-call-pattern.png');
}
.inner-contact .row [class*="col-"]:nth-child(3) .contact-card .image-wrap::before  {
  background-image: url('../images/contact-us-message-pattern.png');
}
.contact-card a {
  font-size: 14px;
  color: var(--c-text-secondary);
  line-height: 25px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--ff-secondary);
}
.contact-card h4 {
  font-size: 26px;
  font-weight: 700;
  color: var(--c-text-primary);
  line-height: 66px;
  margin: 17px 0 5px;
}
.form-control-wrapper input, .form-control-wrapper textarea {
  width: 100%;
  height: 79px;
  padding: 0 0 0 25px;
  background-color: #f4f4f4;
  border: 0;
  font-family: var(--ff-secondary);
  font-size: 14px;
  line-height: 25px;
  color: #3d3d3d;
}
.form-control-wrapper {
  padding-bottom: 30px;
}
.form-control-wrapper textarea {
  height: 336px;
  padding-top: 32px;
}
.contact-form-container .custom-button {
  width: 100%;
  border-radius: 0;
  font-size: 20px;
  height: 79px;
  background-color: var(--c-primary-shade);
}
.contact-form-container .custom-button:hover {
  background-color: var(--c-secondary);
}
.inner-contact .custom-paragraph {
  padding-bottom: 70px;
}
.custom-google-map .map {
  height: 570px;
  padding-bottom: 88px;
}
.custom-google-map .map iframe {
  width: 100%;
  height: 100%;
}
/* *************** Inner Contact End *************** */
/* *************** Inner Product Start *************** */
.product-listing-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.product-listing-sort .showing {
  font-size: 15px;
  font-family: var(--ff-secondary);
  line-height: 31px;
  color: #3d3d3d;
}
.product-listing-sort .col-view-thumbnails {
  display: flex;
  padding: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  align-items: center;
  gap: 0 10px;
}
.product-listing-sort .showing-select {
  font-family: var(--ff-primary);
  font-size: 17px;
  height: 41px;
  border-color: #79491e;
  color: #383838;
}
.product-listing-sort .sort {
  display: flex;
  gap: 10px;
  align-items: center;
}
.col-view-thumbnails .active img {
  filter: brightness(0) contrast(3);
}
.product-listing-sidebar .content .title h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  color: #383838;
  font-weight: 500;
  padding-bottom: 17px;
  position: relative;
}
.product-listing-sidebar .content .title h4::before {
  position: absolute;
  content: '';
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 0;
  left: 0;
}
.product-listing-sidebar .content .list li {
  padding-bottom: 19px;
}
.product-listing-sidebar .content .list li a {
  font-size: 15px;
  color: #3d3d3d;
  font-family: var(--ff-secondary);
}
.product-listing-sidebar .content .list {
  padding: 47px 0;
}
.product-listing-sidebar .content .featured-product .con-link {
  display: flex;
  align-items: start;
  gap: 0 16px;
}
.featured-product-details {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.featured-product-details .product-title {
  font-size: 16px;
  font-weight: 600;
  color: #383838;
  line-height: 15px;
}
.featured-product-details .product-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--c-secondary);
  line-height: 25px;
}
.custom-product-listing.choose-products .choose-products-content .choose-products-content-box {
  height: auto;
}
.custom-product-listing.choose-products .choose-products-content-box-text {
  padding: 40px 0px 67px;
}
.product-page-pagination .page-link {
  width: 52px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  color: #383838;
  border-color: #dedede;
  margin-right: 7px;
}
.product-page-pagination .page-link:hover, .product-page-pagination .active .page-link {
  color: #fff;
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
}
.product-listing-main .row .px-2 {
  padding: 0 11px !important;
}
.inner-product-details .owl-carousel .owl-nav, .inner-product-details .owl-carousel .owl-dots {
  display: none;
}
.inner-product-details #big {
  margin-bottom: 17px;
}
.inner-product-details #big .owl-item img {
  transform-style: preserve-3d;
  height: 799px;
  object-fit: cover;
}
.inner-product-details .bottom {
  padding: 45px 0 60px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.inner-product-details .bottom .nav-tabs {
  justify-content: center;
  border: none;
}
.inner-product-details .bottom .nav-tabs .nav-link {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #8e8e8e;
  padding: 6px 0;
  margin: 0 23px;
  border: none;
  border-bottom: 2px solid transparent;
}
.inner-product-details .bottom .nav-tabs .nav-link.active, .inner-product-details .bottom .nav-tabs .nav-link:hover {
  color: #383838;
  border: none;
  border-bottom: 2px solid #383838;
}
.inner-product-details .bottom .tab-content {
  padding-top: 40px;
}
.inner-product-details .bottom .tab-content .tab-pane p {
  font-size: 14px;
  line-height: 28px;
  color: #3d3d3d;
}
.inner-product-details .bottom .tab-content .tab-pane p:not(:last-child) {
  padding-bottom: 16px;
}
.product-details-top.custom-pad {
  padding: 92px 0;
}
.inner-product-details .right {
  padding-left: 36px;
}
.inner-product-details .right .breadcrumb-item {
  font-size: 17px;
  font-family: var(--ff-secondary);
  color: #3d3d3d;
}
.inner-product-details .right .breadcrumb-item a {
  color: #3d3d3d;
}
.inner-product-details .right .product-rating {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 12px;
  gap: 0 4px;
color: #ffc107;
}
.inner-product-details .right .product-rating h6 {
  font-size: 13px;
  color: #32355d;
  font-family: var(--ff-secondary);
}
.inner-product-details .right .product-title {
  font-size: 42px;
  font-weight: 600;
  color: #383838;
  padding: 10px 0 8px;
}
.inner-product-details .right .product-price > * {
  font-family: var(--ff-secondary);
  font-weight: 600;
}
.inner-product-details .right .product-price del {
  font-size: 17px;
  color: #9d9d9d;
}
.inner-product-details .right .product-price span {
  font-size: 23px;
  color: var(--c-secondary);
}
.inner-product-details .right .product-price {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.inner-product-details .right .product-name {
  padding-bottom: 26px;
  border-bottom: 1px solid #e4e4e4;
}
.product-short-desc p {
  font-size: 14px;
  font-family: var(--ff-secondary);
  font-weight: 500;
  line-height: 28px;
  color: #383838;
}
.product-add-to-cart {
  display: flex;
  align-items: center;
  gap: 0 38px;
  margin-top: 30px;
}
.product-add-to-cart  .quantity {
  width: 165px;
  height: 48px;
  display: inline-flex;
  border: 2px solid #acacac;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
}
.product-add-to-cart .quantity input {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.product-add-to-cart .quantity button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #7f7f7f;
}
.custom-round-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-shade);
  height: 48px;
  width: 100%;
  border-radius: 50px;
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #383838;
}
.custom-round-button:hover {
  color: inherit
}
.buy-now.custom-round-button {
  background-color: var(--c-secondary);
  color: #fff;
  margin-top: 19px;
}
.product-interaction {
  padding: 24px 0 32px;
  border-bottom: 1px solid #e4e4e4;
}
.product-other-details {
  display: flex;
  flex-direction: column;
  gap: 22px 0;
  padding-top: 28px;
}
.product-other-details > * {
  font-size: 14px;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0 6px;
}
.product-other-details > * > span {
  color: #3d3d3d;
}
.product-other-details .share .socials {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 19px;
}
.product-other-details .share .socials a {
  color: #000;
  font-size: 14px;
}
/* *************** Inner Product End *************** */
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* Inner Page End *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */