/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #efcfa0;
  --c-secondary: #79491e;
  --c-tertiary: #f6f6f6;

  --c-white-900: #ffffffff;
  --c-black-900: #090b0bff;
  --c-black-700: #766A59;

  --c-text-primary: #383838;
  --c-text-secondary: #3d3d3d;
  --c-text-tertiary: #8e8e8e;
  --c-text-tertiary-alt: #9d9d9d;
  
  --ff-primary: 'Baloo 2', cursive;
  --ff-secondary: 'Montserrat Alternates', sans-serif;
  --ff-tertiary: 'Bangers', cursive;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--c-text-secondary);
  font-family: var(--ff-secondary);
  line-height: 31px;
  font-weight: 500;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1410px;
}
.container-alt {
  max-width: 1784px;
}
/* .on-hover:hover > *:nth-child(2) {
  display: block;
}
.fixed-top  {
  background-color: var(--c-white-800) !important;
} */

/******** Custom Properties ********/
.custom-pad {
  padding: 120px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  color: var(--c-text-primary);
  /* border: 2px solid transparent; */
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 0 0 30px;
  height: 60px;
  border-radius: 5px;
  position: relative;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0 0 0 20px;
  display: inline-flex;
  align-items: center;
  height: inherit;
  width: 48px;
  justify-content: center;
  background-color: var(--c-secondary);
  border-radius: 0 5px 5px 0;
  color: var(--c-white-900);
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
/* .custom-button:hover span {
  background-color: var(--c-primary);
  color: var(--c-secondary);
} */

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.custom-heading {
  text-align: center;
}
.custom-heading h5 {
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 500;
  color: var(--c-primary);
}
.custom-heading h2 {
  font-family: var(--ff-primary);
  font-size: 55px;
  font-weight: 700;
  color: var(--c-text-primary);
  margin-top: 26px;
  text-transform: capitalize;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* *************** Header Section End *************** */

/* *************** <add section name> Section Start *************** */
/* *************** <add section name> Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */