/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #efcfa0;
  --c-secondary: #79491e;
  --c-tertiary: #f6f6f6;
  
  --c-primary-shade: #f2cd93;
  --c-white-900: #ffffffff;
  --c-black-900: #090b0bff;
  --c-black-700: #766A59;

  --c-text-primary: #393838;
  --c-text-secondary: #3d3d3d;
  --c-text-tertiary: #8e8e8e;
  --c-text-tertiary-alt: #9d9d9d;

  --bs-breadcrumb-divider: ">>";
  
  --ff-primary: 'Baloo 2', cursive;
  --ff-secondary: 'Montserrat Alternates', sans-serif;
  --ff-tertiary: 'Bangers', cursive;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--c-text-primary);
  font-family: var(--ff-secondary);
  line-height: 31px;
  font-weight: 500;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}
.container-alt {
  max-width: 1784px;
}

/* .on-hover:hover > *:nth-child(2) {
  display: block;
}
.fixed-top  {
  background-color: var(--c-white-800) !important;
} */

/******** Custom Properties ********/
.custom-pad {
  padding: 120px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  color: var(--c-text-primary);
  /* border: 2px solid transparent; */
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 0 0 30px;
  height: 60px;
  border-radius: 5px;
  position: relative;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0 0 0 20px;
  display: inline-flex;
  align-items: center;
  height: inherit;
  width: 48px;
  justify-content: center;
  background-color: var(--c-secondary);
  border-radius: 0 5px 5px 0;
  color: var(--c-white-900);
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
/* .custom-button:hover span {
  background-color: var(--c-primary);
  color: var(--c-secondary);
} */

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.custom-heading {
  text-align: center;
}
.custom-heading h5 {
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 500;
  color: var(--c-primary);
}
.custom-heading h2 {
  font-family: var(--ff-primary);
  font-size: 55px;
  font-weight: 700;
  color: var(--c-text-primary);
  margin-top: 16px;
  text-transform: capitalize;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* header-top */
.header-top {
  background-color: var(--c-primary);
}
.header-top_content h4 {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 0;
}
/* header-nav */
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu::after {
  position: absolute;
  content: '';
  background-color: var(--c-white-900);
  width: 5000px;
  height: 100.5%;
  top: -1px;
  left: -600px;
  z-index: -1;
  }
  .custom-header .megamenu .dropdown-menu .shadow-sm {
  box-shadow: none !important;
  }
  .custom-header .navbar-expand-lg .navbar-nav .dropdown-menu::before {
  position: absolute;
  content: '';
  background-color:#d3d3d3;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 0;
  }
.megamenu {
  position: static;
}
.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.megamenu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link:hover {
  color: var(--c-secondary) !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 88px;
}
.custom-header .navbar-brand img {
  width: 80%;
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 32px;
  padding-left: 32px;
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary);
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--c-secondary);
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu .megamenu-wrap .nav-link {
  padding: 20px 0;
  color: var(--c-text-secondary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: var(--ff-secondary) !important;
}
.profile-actions.navbar-nav .nav-item .nav-link {
  padding: 0 13px;
}
.custom-header .dropdown-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.custom-header .dropdown-wrap .list-group.list-group-flush p {
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary) !important;
}
.custom-header .megamenu-section .font-weight-bold.text-uppercase {
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
  color: var(--c-text-primary) !important;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 10px 0;
}
.custom-header .add-padding {
  padding: 20px 0 50px !important;
}
.custom-header .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  border-radius: 0;
}
.custom-header .dropdown-wrap .list-group-item.list-group-item-action {
  font-family: var(--ff-secondary);
  font-size: 14px;
  font-weight: 500;
  color: var(--c-text-secondary);
  position: relative;
}
.custom-header .dropdown-wrap .list-group.list-group-flush p::after {
  position: absolute;
  content: '';
  background-color: var(--c-text-tertiary-alt);
  width: 160px;
  height: 1px;
  top: 40px;
  left: 17px;
}
.custom-header .dropdown-wrap .list-group-item {
  border: 1px solid transparent;
}
.custom-header .header-nav .profile-action-2 {
  display: none;
}
.custom-header .header-nav .navbar-toggler.collapsed {
  background-color: var(--c-secondary);
}
.header-nav {
  padding: 28px 0;
  box-shadow: 0px 5px 0px rgba(0,0,0,0.025);
}
.header-nav .nav-item.active .nav-link {
  color: var(--c-secondary);
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 700;
}
.custom-navbar-nav {
  gap: 0 40px;
}
.custom-navbar-nav .nav-item .nav-link {
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.custom-navbar-nav .nav-item .nav-link:hover {
  color: var(--c-secondary);
}
.profile-actions  {
  gap: 0 0px;
}
.profile-actions .nav-item .nav-link {
  display: inline-flex;
  align-items: center;
  padding: 0;
  line-height: 26px;
  gap: 0 5px;
  color: var(--c-text-primary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: var(--ff-secondary) !important;
}

.profile-actions .nav-item .nav-link span {
  color: var(--c-text-primary);
  display: inline-flex;
  font-size: 28px;
  align-items: center;
}
.profile-actions.actions-2.navbar-nav {
  display: none;
}

/* *************** Header Section End *************** */

/* *************** <add section name> Section Start *************** */
/*Banner*/
.custom-banner {
  position: relative;
}
.custom-banner .banner-bottom-pattern {
  z-index: 99;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 62px;
  z-index: 0;
}
.custom-banner .banner-bottom-pattern img {
  width: 100%;
}
.custom-banner_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  gap: 0 120px;
}
/*.custom-banner_content .content {
  transform: rotate(0deg);
}*/
.custom-banner_content .content .heading {
  font-family: var(--ff-tertiary);
  font-size: 82px;
  line-height: 74px;
  letter-spacing: 6.8px;
  background-color: var(--c-secondary);
  padding: 23px 58px 13px;
  width: fit-content;
  text-align: center;
  margin: 0 auto 24px;
}
.custom-banner_content .content .sub-heading {
  font-size: 75px;
  letter-spacing: 4.58px;
}
.banner-button-wrap {
  margin-top: 60px;
}
.featured-product {
  position: relative;
}
.featured-product .product-img-b img {
  width: 292px;
  height: 419px;
  object-fit: cover;
  border-radius: 40px;
  border: 3px solid;
}
.product-img-b {
  display: inline-flex;
  align-items: center;
  color: var(--c-white-900) !important;
}
.product-img-b .product-b-details {
  position: absolute;
  top: -80px;
  left: -55px;
  display: flex;
  flex-direction: column;
  /* gap: 15px 0; */
}
.product-img-b .product-b-details .title {
  font-size: 22px;
  color: var(--c-text-primary);
  font-weight: 600;
  line-height: 66px;
  text-transform: capitalize;
}
.product-img-b .product-b-details .price {
  background-color: var(--c-white-900);
  color: var(--c-text-primary);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff-secondary);
  border-radius: 4px;
  padding: 8px 36px;
}
.banner-pattern {
  position: absolute;
  left: -220px;
  top: -110px;
}
/*Category*/
/*.category-carousel .item {
   margin: 0 17px;
}*/
.category-carousel .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 52px;
}
.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--c-secondary) !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--c-secondary) !important;
  font-size: 24px !important;
}

.product-category {
  position: relative;
}
.product-category::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  top: 0;
  left: 0;
  border-radius: 30px;
}
.product-category .main-img   {
  border-radius: 30px;
}
.product-category-content {
  position: absolute;
  bottom: 52px;
  left: 55px;
}
.product-category-content .icon img {
  width: 61px;
  height: 61px;
  object-fit: contain;
}
.product-category-content .product-category-title h5 {
  color: var(--c-white-900);
  font-size: 27px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 3px;
}
.product-category-button-wrap .custom-button {
  height: 44px;
  font-size: 13px;
  padding: 0 0 0 22px;
}
.product-category-button-wrap .custom-button span {
  margin: 0 0 0 12px;
  width: 44px;
}
.custom-our-category.custom-pad .custom-heading {
  text-align: center;
  margin-bottom: 72px;
}
.custom-our-category.custom-pad {
  margin-bottom: 135px;
}
/*About*/
.custom-about.custom-pad {
  background-color: #f9f6ef;
}
.about-left .custom-heading {
  text-align: left;
  width: 50%;
}
.custom-list {
  margin-top: 35px;
}
.about-left .custom-paragraph {
  margin-top: 8px;
}
.about-button-wrap {
  margin-top: 38px;
}
.custom-list li {
  position: relative;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 600;
  color: var(--c-text-primary);
  padding: 0 0 15px 35px;
}
.custom-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: -3px;
  color: var(--c-secondary);
}
.about-right {
  position: relative;
}
.about-right::after {
  position: absolute;
  content: '';
  background-image: url(../images/about-pattern.webp);
  width: 54%;
  top: -95px;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 100px;
}
.about-right-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about-right-carousel .owl-nav .owl-prev  {
  font-size: 30px !important;
}
.about-right-carousel .owl-nav .owl-next {
  top: 27px;
  position: absolute;
  right: 0;
  font-size: 30px !important;
}
.about-right .about-right-carousel .about-right-image .alpha-target {
  mask-image: url(https://raw.githubusercontent.com/swagata-codearts/mycutepods/main/images/about-mask.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
.about-right .about-right-carousel .about-right-image .target {
  display: block;
  width: 590px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
/******Inner banner*******/
.custom-inner-banner {
  padding: 134px 0 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.custom-inner-banner .inner-banner-heading {
  text-align: center;
  padding-bottom: 20px;
}
.custom-inner-banner .inner-banner-heading h1 {
  text-align: center;
  font-family: var(--ff-tertiary);
  font-size: 78px;
  line-height: 76px;
  font-weight: 400;
  letter-spacing: 6px;
  color: #0e2037;
  text-transform: uppercase;
}
.custom-inner-banner nav .breadcrumb {
  justify-content: center;
  font-size: 17px;
  font-family: var(--ff-secondary);
  line-height: 31px;
  color: var(--c-text-secondary);
}
.custom-inner-banner .breadcrumb-item a, .custom-inner-banner .breadcrumb-item.active {
  color: var(--c-text-secondary);
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 5px;
  color: var(--c-text-secondary) !important;
  top: 54%;
  position: relative;
  transform: translateY(-50%);
}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item {
  padding-left: 5px;
}
.inner-banner-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.inner-banner-pattern img {
  width: 100%;
}
/* *************** <add section name> Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
